<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>地球</string>
		<key>desc</key>
		<string>列車のパッケージpassagers</string>
		<key>planetR</key>
		<real>10000</real>
		<key>planetName</key>
		<string>B-330</string>
		<key>gamestart</key>
		<string>小さな王子は鉄道SwitchManのに遭遇しました。</string>
		<key>gamepass</key>
		<string>王子さまはバックヘビのための砂漠に行ってきました。</string>
		<key>R</key>
		<string>246</string>
		<key>G</key>
		<string>188</string>
		<key>B</key>
		<string>49</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>train-worker</string>
		<key>words</key>
		<array>
			<dict>
				<key>prince</key>
				<string>Good morning</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Good morning</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>What do you do here?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I sort out travelers, in bundles of a thousand</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I send off the trains that carry them; now to the right, now to the left.</string>
				<key>task</key>
				<string>0</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>They are in a great hurry,What are they looking for?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Not even the locomotive engineer knows that</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Are they coming back already?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>These are not the same ones,It is an exchange.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Were they not satisfied where they were?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>No one is ever satisfied where he is</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Are they pursuing the first travelers?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>They are pursuing nothing at all</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>They are asleep in there, or if they are not asleep they are yawning. </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Only the children are flattening their noses against the windowpanes.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Only the children know what they are looking for</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>They waste their time over a rag doll and it becomes very important to them</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>and if anybody takes it away from them, they cry…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>They are lucky</string>
				<key>task</key>
				<string>2</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<real>-0.15</real>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>japan-hourse3</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.11</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-22</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>japan-tower1</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.15</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>japan-hourse1</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.2</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-18</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>japan-hourse2</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.3</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-16</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>japan-tower2</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.4</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-14</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>japan-gate</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.4</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-12</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>train-light</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building0</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-28</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building1</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.2</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-26</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building2</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.3</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-24</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building3</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.4</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-22</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building4</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.5</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building5</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.6</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-18</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building6</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.7</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-16</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building7</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.8</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-14</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building8</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.85</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-12</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building9</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.9</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>trainhead</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>3</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Why are you selling those?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Because they save a tremendous amount of time</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Computations have been made by experts. With these pills, you save fifty-three minutes in every week.</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And what do I do with those fifty-three minutes?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Anything you like…</string>
				</dict>
				<dict>
					<key>item</key>
					<string>As for me, if I had fifty-three minutes to spend as I liked, I should walk at my leisure toward a spring of fresh water.</string>
					<key>task</key>
					<string>4</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.12</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.3</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.5</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.7</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.9</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-6</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.1</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.3</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-8</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.5</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-9</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.7</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>train-fence</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-1</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>japan-stonelamp0</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>bread-small</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>ice</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>airship-small</string>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>japan-light</string>
			<key>energy</key>
			<integer>20</integer>
			<key>award</key>
			<string>japan-light</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bread</string>
			<key>action</key>
			<string>3</string>
			<key>energy</key>
			<integer>40</integer>
			<key>award</key>
			<string>bread</string>
		</dict>
		<dict>
			<key>energy</key>
			<string>60</string>
			<key>name</key>
			<string>ice</string>
			<key>award</key>
			<string>watercup</string>
			<key>action</key>
			<string>3</string>
		</dict>
		<dict>
			<key>energy</key>
			<string>80</string>
			<key>name</key>
			<string>airship</string>
			<key>award</key>
			<string>airship</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>japan-light</string>
			<key>prince</key>
			<string>1</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>japan-stonelamp0.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>japan-light.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>The switchman sort out travelers, in bundles of a thousand, he send off the trains that carry them.</string>
				<string>Bring some lights for the swichman.</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<integer>4</integer>
			<key>icon</key>
			<string>bread</string>
			<key>prince</key>
			<string>1</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>bread.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>bread.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>People works in the cities and lives in the suburban, they travels like birds everyday.They are in a great hurry for the bread.</string>
				<string>Bring some bread for the swichman.</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>5</string>
			<key>icon</key>
			<string>watercup</string>
			<key>prince</key>
			<string>1</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>ice.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>watercup.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>In order to save a tremendous amount of time,people eats pills that had been invented to quench thirst.</string>
				<string>Bring a cup of water for the swichman.</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>6</string>
			<key>icon</key>
			<string>airship</string>
			<key>prince</key>
			<string>2</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>airship.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>airship.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>The little prince grow too homesick for his own planet, he decide to go back to the desert, find the snake for help. </string>
				<string>Find the way back to the desert with a airship.</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
