<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>255</integer>
		<key>name</key>
		<string>Asteriod B-612</string>
		<key>desc</key>
		<string>The Rose arrives</string>
		<key>heroWeight</key>
		<integer>100</integer>
		<key>planetR</key>
		<integer>1000</integer>
		<key>planetWeight</key>
		<integer>200</integer>
		<key>gamepass</key>
		<string>For she did not want him to see her crying. She was such a proud flower.</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>words</key>
		<array>
			<dict>
				<key>pet</key>
				<string>Ah! I am scarcely awake. </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I beg that you will excuse me.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>My petals are still all disarranged…</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Oh! How beautiful you are!</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Am I not? And I was born at the same moment as the sun…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I think it is time for breakfast,If you would have the kindness to think of my needs</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Let the tigers come with their claws!</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>There are no tigers on my planet, and, anyway, tigers do not eat weeds.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>But I am not a weed</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Please excuse me…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I am not at all afraid of tigers, but I have a horror of drafts. </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I suppose you wouldn&apos;t have a screen for me?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>I was just going to look for it when you spoke to me…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>The screen? </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>It is very cold where you live. In the place I came from...</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>At night I want you to put me under a glass globe. </string>
			</dict>
			<dict>
				<key>task</key>
				<integer>3</integer>
				<key>prince</key>
				<string>Goodbye...</string>
				<key>pet</key>
				<string>...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Goodbye...</string>
				<key>pet</key>
				<string>I have been silly, I ask your forgiveness. Try to be happy…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Of course I love you, It is my fault that you have not known it all the while. That is of no importance.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>But you-- you have been just as foolish as I. Try to be happy… </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>let the glass globe be. I don&apos;t want it any more.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>But the wind?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Well, I must endure the presence of two or three caterpillars if I wish to become acquainted with the butterflies. </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>It seems that they are very beautiful.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>And if not the butterflies and the caterpillars, who will call upon me?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>You will be far away… </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>as for the large animals,I am not at all afraid of any of them. </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I am not at all afraid of any of them. I have my claws.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Don&apos;t linger like this. You have decided to go away. Now go!</string>
			</dict>
		</array>
		<key>name</key>
		<string>rose-small</string>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>-1</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>sun</string>
			<key>initHeight</key>
			<integer>500</integer>
			<key>initRot</key>
			<integer>0</integer>
			<key>initSpeed</key>
			<integer>-10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>dandelion</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tree_green_small</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_green_large</string>
				<key>gift</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_yellow_large</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_pink_large</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_red_large</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>flower</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>3</string>
				<key>name</key>
				<string>nest</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>clover</string>
				<key>gift</key>
				<string>4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>fourleaf</string>
				<key>gift</key>
				<string>5</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>dandelionfly</string>
			<key>action</key>
			<integer>0</integer>
			<key>award</key>
			<string>watering</string>
			<key>awardcount</key>
			<string>5</string>
			<key>energy</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>wood</string>
			<key>action</key>
			<integer>2</integer>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>screen</string>
			<key>energy</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>flowerfly</string>
			<key>action</key>
			<integer>1</integer>
			<key>award</key>
			<string>glassglobe</string>
			<key>awardcount</key>
			<string>5</string>
			<key>energy</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>goose-fly</string>
			<key>action</key>
			<integer>5</integer>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>goose-fly</string>
			<key>energy</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>cloverfly</string>
			<key>action</key>
			<integer>1</integer>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>fourleaffly</string>
			<key>action</key>
			<integer>1</integer>
			<key>energy</key>
			<integer>60</integer>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>stories</key>
			<array>
				<string>Once upon a time, there is a little prince who lives on a planet not big than a house, which is called Asteroid B-612.One day, from a seed blown from no one knew where, a new flower had come up.</string>
				<string>Bring some water for the new flower!</string>
			</array>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>watering</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>dandelionfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>watering.png</string>
				</dict>
			</array>
			<key>prince</key>
			<integer>1</integer>
			<key>pet</key>
			<string>rose</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>Then one morning, exactly at sunrise, the flower suddenly showed herself. She is a rose who has a horror of drafts, and she  suppose the prince to get a screen for her.</string>
				<string>Bring a Wood Screen for the Rose!</string>
			</array>
			<key>status</key>
			<string>4</string>
			<key>icon</key>
			<string>screen</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>wood.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>screen.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose-screen</string>
			<key>prince</key>
			<string>2</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>The rose wants to be putted under a glass globe at night, as she feels cold in this planet.she coughed two or three times, in order to put the little prince in the wrong.</string>
				<string>Bring a glassglobe for the Rose!</string>
			</array>
			<key>status</key>
			<string>5</string>
			<key>icon</key>
			<string>glassglobe</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>flowerfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>glassglobe.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose-glassglobe</string>
			<key>prince</key>
			<string>1</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>So the little prince, in spite of all the good will that was inseparable from his love, had soon come to doubt her. He had taken seriously words which were without importance, and it made him very unhappy.</string>
				<string>The little prince decides to leave his planet, he must take the advantage of the migration of a flock of wild birds.</string>
			</array>
			<key>status</key>
			<string>6</string>
			<key>icon</key>
			<string>goose-fly</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>nest.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>goose-fly.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose</string>
			<key>prince</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
