<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>地球</string>
		<key>desc</key>
		<string>遇到狐狸</string>
		<key>planetR</key>
		<real>10000</real>
		<key>planetName</key>
		<string>earth</string>
		<key>R</key>
		<string>251</string>
		<key>G</key>
		<string>69</string>
		<key>B</key>
		<string>25</string>
		<key>gamestart</key>
		<string>就在这个时候，狐狸出现了
</string>
		<key>gamepass</key>
		<string>我要对我的玫瑰负责，小王子重复了一遍，以便将之铭刻于心</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>fox</string>
		<key>words</key>
		<array>
			<dict>
				<key>pet</key>
				<string>早上好</string>
				<key>task</key>
				<string>0</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>早上好</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我就在这里，苹果树下</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您是谁？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我是一只狐狸</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>过来和我玩，我很不开心</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我不能和您玩，因为我还没有被驯服</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>啊，请您原谅</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是，“驯服”是什么意思？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>您好像不是这里人，您在这里寻找什么呢？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我在寻找人，“驯服”到底是什么意思？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>人，他们有枪，他们打猎，他们让我厌恶</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但他们也养鸡，而我喜欢吃鸡，这是他们唯一的好处，您也在找鸡么？</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>不是的，我在寻找朋友，“驯服”到底是什么意思？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这是一个已经被人遗忘的行为，它意味着建立关系</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>建立关系？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>就是这样的，比如对于我来说，您只是一个小男孩，和成千上万的其它小男孩没有什么两样</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我不需要你，而对于您来说，您也不需要我</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>对您来说，我只不过是一只狐狸，和其它成千上万的狐狸没什么两样</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但如果您驯服了我，那么我们就会彼此需要，对我来说，您将是世界上独立无二的了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>同样的，对您来说，我也是这个世上最独特的</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我开始明白了，我有一朵花，我想我被她驯服了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这是可能的，在地球上，什么事情都可能发生</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>哦，但这不是发生在地球上的事情</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>在其它星球？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>是的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这个星球上有猎人么？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>没有</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>啊，那可真有趣，那么这个星球有鸡么？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>没有</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>没有什么是完美的</string>
				<key>task</key>
				<string>4</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我的生活很单调，我猎杀鸡，猎人猎杀我</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>所有的鸡都是一样的，所有的人也是</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>结果，我觉得有点无聊了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但是，如果您驯服了我，那么这将会像是一缕阳光照进了我的生命</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我将能够从其它脚步声中分辨出您的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>其它的脚步声让我惊恐的躲藏起来，而您的，却会像音乐一样，让我快乐的走出洞穴</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>您看，这片麦田生产的是面包，我不吃面包，麦子对我来说是没有用的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>麦田对我来说毫无意义，这是一件悲伤的事情</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>您的头发是金黄色的，想想如果被您驯服了会是多么棒哪</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>麦田，到了秋天也是金黄色的，看到它，我便会想念起您</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我会喜欢听麦田里的风声…</string>
				<key>task</key>
				<string>5</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>请驯服我吧！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我非常想驯服您，但是我没有太多的时间，我还有太多的朋友要去发现，太多的事情要去理解</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>一个人只会理解自己驯服了的东西</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>人类已经没有任何时间去理解任何事情了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>他们从商店里购买已经做好了的东西</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但是世界上没有任何一个商店售卖友谊，所以人类已经没有朋友了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>如果您想要一个朋友，请驯服我...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我需要怎么做才能驯服您呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>您必须有耐心</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>首先您必须坐在离我远一点的地方，例如，在那片草丛中</string>
				<key>task</key>
				<string>6</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我会用眼角偷偷望着你，而你不要说话</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>语言是误解的根源，不够您需要每天都靠近我一点点</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>您最好每天在同样的时候来到这里</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>例如，您要是四点钟过来，那么三点的时候我就会开始感到开心了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>随着时间的流逝，我会越来越觉得幸福，到了四点，我的心情就开始担心和雀跃了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我将告诉您见到您我有多么的开心，但是如果您什么时候都可能出现的话，我将永远都不知道什么时候可以开始准备见到您</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>一个人必须遵循一定的仪式</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>什么是仪式</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这也是一个被人遗忘了的东西，只有它能够让今天与昨天不同，这个小时与前一个小时不同</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>例如那些猎人有一个仪式，他们每个星期四和村子里的姑娘一起跳舞</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>所以星期四对我来说是一个好日子，这一天我甚至可以慢慢散步到葡萄园里</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但是，如果猎人们每天都跳舞，那么每天都会是一样的，我便永远都不会有假期</string>
				<key>task</key>
				<string>7</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我想我要离开了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>啊，我先我会哭的</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这是您自己的过错，我从来没想要伤害您，是您自己要求被驯服的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>是的</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是现在您要哭了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>是的</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>所以这对您一点好处都没有！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这对我有好处，例如秋天里麦田的颜色</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>再去看看园子里的哪些玫瑰，您就会明白了，您所拥有的那朵小玫瑰，是世界上独立无二的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>然后回来和我道别，我将告诉告诉您一个秘密作为临别礼物</string>
				<key>task</key>
				<string>8</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>再见</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>再见</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>现在告诉您我的秘密礼物，它十分简单，就是，只有用心看到的东西才是真实的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>真正重要的东西用眼睛是看不到的</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>真正重要的东西用眼睛是看不到的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>真是您为玫瑰浪费的哪些时间，让玫瑰变得如此重要</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>正是我为玫瑰浪费的哪些时间</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>人类已经忘记这个真理，但您不应该忘记，您要负起责任，您要对您驯服的东西负责，您要对玫瑰负责</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我要对玫瑰负责</string>
				<key>task</key>
				<string>10</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<real>-0.5</real>
		<key>z</key>
		<integer>-5</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>roses</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>7</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Who are you?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>We are roses</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>She would be very much annoyed,if she should see that… </string>
				</dict>
				<dict>
					<key>prince</key>
					<string>she would cough most dreadfully, and she would pretend that she was dying, to avoid being laughed at.</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And I should be obliged to pretend that I was nursing her back to life</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>for if I did not do that, to humble myself also, she would really allow herself to die…</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>I thought that I was rich, with a flower that was unique in all the world</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>and all I had was a common rose.</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>A common rose, and three volcanoes that come up to my knees</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>and one of them perhaps extinct forever</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>that doesn&apos;t make me a very great prince…</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>appletree</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.47</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>wheats-heap</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.58</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-9</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cow0</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>7</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Who are you?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>We are roses</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>She would be very much annoyed,if she should see that… </string>
				</dict>
				<dict>
					<key>prince</key>
					<string>she would cough most dreadfully, and she would pretend that she was dying, to avoid being laughed at.</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And I should be obliged to pretend that I was nursing her back to life</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>for if I did not do that, to humble myself also, she would really allow herself to die…</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>I thought that I was rich, with a flower that was unique in all the world</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>and all I had was a common rose.</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>A common rose, and three volcanoes that come up to my knees</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>and one of them perhaps extinct forever</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>that doesn&apos;t make me a very great prince…</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.5</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cow1</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>7</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Who are you?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>We are roses</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>She would be very much annoyed,if she should see that… </string>
				</dict>
				<dict>
					<key>prince</key>
					<string>she would cough most dreadfully, and she would pretend that she was dying, to avoid being laughed at.</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And I should be obliged to pretend that I was nursing her back to life</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>for if I did not do that, to humble myself also, she would really allow herself to die…</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>I thought that I was rich, with a flower that was unique in all the world</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>and all I had was a common rose.</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>A common rose, and three volcanoes that come up to my knees</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>and one of them perhaps extinct forever</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>that doesn&apos;t make me a very great prince…</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.55</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-9</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cow2</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>7</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Who are you?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>We are roses</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>She would be very much annoyed,if she should see that… </string>
				</dict>
				<dict>
					<key>prince</key>
					<string>she would cough most dreadfully, and she would pretend that she was dying, to avoid being laughed at.</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And I should be obliged to pretend that I was nursing her back to life</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>for if I did not do that, to humble myself also, she would really allow herself to die…</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>I thought that I was rich, with a flower that was unique in all the world</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>and all I had was a common rose.</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>A common rose, and three volcanoes that come up to my knees</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>and one of them perhaps extinct forever</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>that doesn&apos;t make me a very great prince…</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.6</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-8</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>wheats-heap</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.3</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>wheats-heap</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.3</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>wheats-heap</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.3</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>hourse1</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.3</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-9</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>hourse2</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.6</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-8</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>mailbox</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.7</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-6</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>hourse3</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.8</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-6</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>japan-mill</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>-1</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-7</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>flower-red</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>nest</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>chicken</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>wheat0</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>wheat1</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>wheat2</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>sand</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>gift</key>
				<string>3</string>
				<key>name</key>
				<string>ladybug</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>name</key>
				<string>littletree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tree_green_small</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_yellow_large</string>
				<key>gift</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_pink_large</string>
				<key>gift</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_red_large</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>awardcount</key>
			<integer>5</integer>
			<key>name</key>
			<string>butterfly-red</string>
			<key>action</key>
			<string>5</string>
			<key>award</key>
			<string>apple_red</string>
			<key>energy</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>chicken</string>
			<key>award</key>
			<string>chicken</string>
			<key>energy</key>
			<integer>40</integer>
			<key>action</key>
			<string>5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>wheatsfly</string>
			<key>energy</key>
			<integer>40</integer>
			<key>action</key>
			<string>1</string>
			<key>award</key>
			<string>wheats</string>
		</dict>
		<dict>
			<key>energy</key>
			<string>60</string>
			<key>name</key>
			<string>ladybug</string>
			<key>award</key>
			<string>ladybug</string>
			<key>action</key>
			<string>5</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>apple_red</string>
			<key>prince</key>
			<string>1</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>butterfly-red.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>apple_red.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子看到了花园中的玫瑰丛，他突然意识到，自己视为世界上独一无二的小玫瑰，不过是一朵普通的小花朵。小王子很伤心。</string>
				<string>这时，狐狸出现了，在一棵茂密的苹果树下。小王子想让狐狸陪他玩耍，但狐狸拒绝了，因为她还没有被驯服</string>
				<string>收集一些苹果给狐狸！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<integer>4</integer>
			<key>icon</key>
			<string>chicken</string>
			<key>prince</key>
			<string>2</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>chicken0.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>chicken.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子在寻找人类，但狐狸并不喜欢人类，因为他们有枪。人类饲养鸡，狐狸喜欢鸡</string>
				<string>捉几只鸡给狐狸！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>5</string>
			<key>icon</key>
			<string>wheats</string>
			<key>prince</key>
			<string>1</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>wheat0.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>wheats.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>狐狸的生活很单调，她捉鸡，而猎人追杀她，所有的鸡都是一样的，所有的人也是一样的</string>
				<string>狐狸想被小王子驯服，因为小王子的头发颜色是金黄色的，一旦被小王子驯服，当她看到秋天的麦田，便会淡淡的思念起小王子</string>
				<string>收集一束金黄色的麦子给狐狸！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>6</string>
			<key>icon</key>
			<string>ladybug</string>
			<key>prince</key>
			<string>1</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>ladybug0.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>ladybug.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子驯服了狐狸，但他离开的日子逐渐逼近</string>
				<string>狐狸送给小王子一个临别礼物，这是一个古老的秘密：只有通过心看到的才是真实的，事情的本质是无法通过眼睛发现的。</string>
				<string>捉几只七星瓢虫给狐狸，向她道别！</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
