<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>地球</string>
		<key>desc</key>
		<string>沙漠和飞行员</string>
		<key>planetR</key>
		<real>10000</real>
		<key>planetName</key>
		<string>B-330</string>
		<key>gamestart</key>
		<string>这个故事的讲述者驾驶飞机在撒哈拉坠毁，正是在这里，他遇到了小王子</string>
		<key>gamepass</key>
		<string>有一个闪光接近他的脚踝，他一动不动的呆了瞬间，他没有哭，像一片树叶一样轻轻落下，甚至没有一点声音。就这样，小王子离开了地球。
</string>
		<key>R</key>
		<string>226</string>
		<key>G</key>
		<string>53</string>
		<key>B</key>
		<string>1</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>pilot</string>
		<key>words</key>
		<array>
			<dict>
				<key>prince</key>
				<string>您能不能为我画一只绵羊？</string>
				<key>task</key>
				<string>0</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>什么？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>为我画一只绵羊！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但是，小家伙，你在这里干什么？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>请您为我画一只绵羊！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这些都不重要，为我画一只绵羊吧！</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>不不不，我要的不是一条吞吃了大象的蟒蛇！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>蟒蛇是一种很危险的动物，而大象也是很麻烦的东西</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>在我生活的地方，一切都很小，我需要的是一只羊，请给我画一只绵羊！</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>不不，这只小羊看起来像是生病了，请给我画另一个！</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您自己看看，这不是一只小绵羊，它有角，它是一只大公羊</string>
				<key>task</key>
				<string>4</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这只羊太老了，我想要一只活的久一点的小羊</string>
				<key>task</key>
				<string>5</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这个箱子里装着你要的那只羊，你可以从这个小孔里面看到它</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这就是我想要的小羊！您觉得它会不会需要吃很多很多的草哪？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>为什么问这个问题？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>因为我住的地方很小很小...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>放心吧，我给你的小羊很小，它不会需要吃太多的，你会有足够的草来喂它</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>它并不如你说的那么小，看，它已经睡着了</string>
				<key>task</key>
				<string>6</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这是什么东西？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这不是什么“东西”，这可是飞机，我的飞机！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>什么？您也是从天下掉下来的？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>是的呀</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>哈哈，这真有趣！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>那么您是从哪个星球过来的哪？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>你来自另外一个星球？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>看来您应该不是从很远的地方过来的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我的小家伙，你从哪里来的？我从哪个星球过来的是什么意思？你想把这只羊带到哪里去哪？</string>
				<key>task</key>
				<string>7</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您给我的这个箱子真是太好了，我还可以把它作为小羊的小窝</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>那当然，如果你想要的话，我可以给你画一个绳套，这样你就可以把它拴住，免得它白天乱跑</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>拴住它！这是一个多么可怕的主意哪！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但是如果你不把它拴住的话，它可能会导出瞎逛，甚至走丢</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是您觉得它可以走到哪里呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>任何地方，一只朝前走</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这没关系啦，我住的地方，所有东西都很小</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>一直朝前走，它也不能走很远</string>
				<key>task</key>
				<string>8</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>小羊吃灌木，这是不是真的？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当然，这是真的</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>哈哈，我真开心</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>那么它们是不是也吃猴面包果树？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>猴面包果树可不是什么小灌木，相反，它们可是像城堡一样的大树</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>就算是有一群大象，也啃不动一棵猴面包果树</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我们可以把它们一个个的叠起来</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>猴面包果树长高之前，也是小树苗</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>完全正确，但是为什么你需要小羊去吃猴面包果树呢？</string>
				<key>task</key>
				<string>9</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>噢，过来，过来</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这是一个原则问题</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您必须在猴面包果树苗能够和玫瑰花苗区分开的那会儿把它拔掉</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这是一个繁琐的工作，但也很简单</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您最好画一幅画，这样您可以告诉其它小孩，没有及时拔掉的猴面包果树苗有多危险</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>如果他们有一天准备去旅行，这个知识将对他们十分有用</string>
				<key>task</key>
				<string>10</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>把一件工作推迟到明天是没有什么危险的</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但如果这件工作是关于猴面包果树，那就会是一场灾难！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我知道有一个星球上住着一个懒汉，他只错过了三棵猴面包果树苗</string>
				<key>task</key>
				<string>11</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我喜欢看日落。来，让我们一起去看日落吧。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但是我们需要等待</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>等待？等待什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>等待日落，我们必须等到日落的时候</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>好吧，我总是以为自己还在家里</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>有一天，我看了44次日落</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您知道的，那些喜欢日落的人，都很忧伤</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>那时你是不是很忧伤，所以你才会看44次日落？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>一只羊，如果它吃灌木，那么它会不会吃花？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>一只羊会啃掉它眼前的所有东西</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>哪怕是有刺的花儿？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>是的，即便是有刺的花儿</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>那么这些刺对她们有什么用呢？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这些词对她们有什么用？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这些刺对她们毫无用处，花儿只是虚张声势</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>啊！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我不相信您，花儿是那么脆弱的生命！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>她们那么天真，她们总是觉得自己有刺就可以保护自己！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>她们以为自己的刺是很厉害的武器</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>您是不是真的相信这些花儿？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>噢，不！不不不！我什么都不相信，我回答您的是我想到的第一个念头</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>你难道没有看到么，我正在处理一个麻烦的问题</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>麻烦的问题！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您说起话来和哪些大人没什么两样！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您把所有事情都搅混了，您什么都分不清楚</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我知道有一个星星上住着一个红脸的绅士</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>他从来没有闻过花的香味，从来没有抬头看过星星，也从来没有爱过一个人</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>除了动动手指他什么都没做过</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>每天他都在不断的重复：我在做一件很重要的事情</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这让他虚荣心膨胀，但在我眼里，他不是一个人，只是一朵蘑菇</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>一朵什么？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>一朵蘑菇！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>花儿已经长了几百万年的刺儿</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>几百万年里，小羊都照样把她们吃掉</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>去了解为什么刺儿毫无用处，花儿却还是要生长它，难道不是一个重要的事情？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>难道羊和花之间的战争就一点都不重要？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这不是比那个红脸爵士的计算更重要的事情么？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>在我的星球上，有一朵独立无二的玫瑰，如果在一个早晨，它被一只羊不声不响的吃掉了，您觉得这个一点都不重要么？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>如果有一个人爱上了一朵花，哪怕这朵花在所有的星球都生长着，这也足矣让他快乐的去注视这所有的星星</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>他可以说，在这个星空的某个地方，有一朵花是我的，但是如果这朵花被羊儿吃掉了，那一刻，他所有的星星都会熄灭掉，您认为这个不重要？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>你爱上的那朵小花没有危险，相信我，我会给小羊画上一个口罩，我还会为你的小花画上护栏！</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<real>-0.1</real>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>0</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>1</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>2</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>3</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>4</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>5</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>6</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>plane</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>pyramid</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.5</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>ruin</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.41</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>ruin1</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.21</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>ruin2</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.31</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>well</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.62</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bone0</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>1</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bone1</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.2</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bone2</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>2</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bone3</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>3</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus0</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>3</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus1</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>4</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus2</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>5</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus3</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>6</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sheep0</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>cactus-flower6</string>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>cactus-flower2</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>cactus-flower1</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>geer</string>
				<key>gift</key>
				<string>4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>snake</string>
				<key>gift</key>
				<string>5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sheep1</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sheep2</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sheep3</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>screw</string>
				<key>gift</key>
				<string>4</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>box</string>
			<key>award</key>
			<string>box</string>
			<key>action</key>
			<string>4</string>
			<key>energy</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>sheepmask</string>
			<key>award</key>
			<string>sheepmask</string>
			<key>action</key>
			<string>3</string>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>waterbag</string>
			<key>award</key>
			<string>waterbag</string>
			<key>energy</key>
			<integer>60</integer>
			<key>action</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>dragonfly</string>
			<key>award</key>
			<string>airscrew</string>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>wrench</string>
			<key>award</key>
			<string>wrench</string>
			<key>action</key>
			<string>2</string>
			<key>energy</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>energy</key>
			<string>120</string>
			<key>name</key>
			<string>poison</string>
			<key>award</key>
			<string>poison</string>
			<key>action</key>
			<string>2</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>box</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>sheep0.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>box.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子遇到了一个飞行员，他的飞机坠毁在了沙漠中。小王子希望飞行员给他画一只小绵羊，小羊可以帮助他清理灌木，而他可以更多的陪伴小玫瑰。</string>
				<string>收集箱子，箱子里面装着小王子需要的羊！</string>
			</array>
			<key>prince</key>
			<string>0</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>4</integer>
			<key>icon</key>
			<string>sheepmask</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>cactus-flower2.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>sheepmask.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>一只羊如果吃灌木，那么它也会吃掉花儿，小王子需要为小羊准备一只口罩</string>
				<string>为小羊收集羊口罩！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>5</string>
			<key>icon</key>
			<string>waterbag</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>cactus-flower1.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>waterbag.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>飞行员的飞机还没修理好，但是他已经觉得口渴了，没有水的话他将会死在沙漠上...</string>
				<string>收集皮水袋，为飞行员准备新鲜的水！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>6</string>
			<key>icon</key>
			<string>airscrew</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>dragonfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>airscrew.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>飞机的螺旋桨坏掉了，没有螺旋桨飞机没法飞上天空</string>
				<string>为飞机寻找螺旋桨！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>7</string>
			<key>icon</key>
			<string>wrench</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>geer.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>wrench.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>飞行员的扳手丢失了，没有扳手的话，他没法完成飞机的修理</string>
				<string>为飞行员寻找一个扳手！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>8</string>
			<key>icon</key>
			<string>poison</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>snake.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>poison.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子在废墟上找到了蛇，蛇答应通过它的毒液送小王子回到自己的星球，小王子没法带着自己的身体离开，他的星球太远，没法带着太重的东西。</string>
				<string>收集蛇的毒液以便离开地球！</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
