<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>Astéroïde B-327</string>
		<key>desc</key>
		<string>le buveur</string>
		<key>heroWeight</key>
		<integer>100</integer>
		<key>planetWeight</key>
		<integer>100000</integer>
		<key>planetR</key>
		<integer>1200</integer>
		<key>planetName</key>
		<string>B-327</string>
		<key>R</key>
		<string>0</string>
		<key>G</key>
		<string>255</string>
		<key>B</key>
		<string>255</string>
		<key>gamestart</key>
		<string>Le petit prince se rend le buveur</string>
		<key>gamepass</key>
		<string>Les adultes sont certainement très, très étrange, le petit prince dit à lui-même, comme il a continué son voyage.</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>tippler</string>
		<key>product</key>
		<string>cloud</string>
		<key>words</key>
		<array>
			<dict>
				<key>prince</key>
				<string>What are you doing there?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I am drinking.</string>
				<key>task</key>
				<string>0</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Why are you drinking?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>So that I may forget.</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Forget what?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Forget that I am ashamed.</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Ashamed of what?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Ashamed of drinking.</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>The grown-ups are certainly very, very odd.</string>
				<key>task</key>
				<string>4</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>-1</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>snowman</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>0</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>snowdrop</string>
				<key>action</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowdrift</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>snowferret</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>snowdrop</string>
				<key>action</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowdrift</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>withoutsorrow</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowdrift</string>
			</dict>
			<dict>
				<key>name</key>
				<string>nest</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>goose</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>snowdrop</string>
				<key>action</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowdrift</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowtree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowtree</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>snowtree</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>awardcount</key>
			<integer>5</integer>
			<key>name</key>
			<string>snowflowerfly</string>
			<key>award</key>
			<string>watercup</string>
			<key>energy</key>
			<integer>20</integer>
			<key>action</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>withoutsorrowfly</string>
			<key>award</key>
			<string>withoutsorrowpot</string>
			<key>energy</key>
			<integer>40</integer>
			<key>action</key>
			<string>1</string>
		</dict>
		<dict>
			<key>awardcount</key>
			<integer>5</integer>
			<key>name</key>
			<string>goose-fly</string>
			<key>award</key>
			<string>goose-fly</string>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<integer>60</integer>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>icon</key>
			<string>watercup</string>
			<key>status</key>
			<integer>3</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>snowflowerfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>watercup.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>La planète suivante était habitée par un buveur, qui boit toute la journée.</string>
				<string>Apportez un verre d&apos;eau pour la benne!</string>
			</array>
			<key>prince</key>
			<string>0</string>
			<key>pet</key>
			<string>tippler-watercup</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>withoutsorrowpot</string>
			<key>status</key>
			<integer>4</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>withoutsorrowfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>withoutsorrowpot.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>Le buveur dit que lui ne peut pas oublier sa honte. Le petit prince, faute de lui aider à se débarrasser de la douleur.</string>
				<string>Apportez des fleurs WithoutSorrow pour la benne!</string>
			</array>
			<key>prince</key>
			<string>2</string>
			<key>pet</key>
			<string>tippler-withoutsorrow</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>goose-fly</string>
			<key>status</key>
			<string>5</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>goose.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>goose-fly.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>Ce fut une visite très courte, mais elle plongea le petit prince dans une grande mélancolie.</string>
				<string>Laissez la planète avec l&apos;oie!</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
