<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>小行星 B-327</string>
		<key>desc</key>
		<string>酒鬼</string>
		<key>heroWeight</key>
		<integer>100</integer>
		<key>planetWeight</key>
		<integer>100000</integer>
		<key>planetR</key>
		<integer>1200</integer>
		<key>planetName</key>
		<string>B-327</string>
		<key>R</key>
		<string>0</string>
		<key>G</key>
		<string>255</string>
		<key>B</key>
		<string>255</string>
		<key>gamestart</key>
		<string>小王子访问了一个酒鬼的星球</string>
		<key>gamepass</key>
		<string>这些大人真是太太太奇怪了！小王子自言自语，继续他的旅程</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>tippler</string>
		<key>product</key>
		<string>cloud</string>
		<key>words</key>
		<array>
			<dict>
				<key>prince</key>
				<string>您在做什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我在喝酒</string>
				<key>task</key>
				<string>0</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您为什么要喝酒？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>喝酒能够让我遗忘</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>遗忘什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>遗忘我的羞耻</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您为什么羞耻？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>羞耻我酗酒</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这些大人真是太太太奇怪了！</string>
				<key>task</key>
				<string>4</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>-1</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>snowman</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>0</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>snowdrop</string>
				<key>action</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowdrift</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>snowferret</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>snowdrop</string>
				<key>action</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowdrift</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>withoutsorrow</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowdrift</string>
			</dict>
			<dict>
				<key>name</key>
				<string>nest</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>goose</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>snowdrop</string>
				<key>action</key>
				<string>1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowdrift</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowtree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>snowtree</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>snowtree</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>awardcount</key>
			<integer>5</integer>
			<key>name</key>
			<string>snowflowerfly</string>
			<key>award</key>
			<string>watercup</string>
			<key>energy</key>
			<integer>20</integer>
			<key>action</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>withoutsorrowfly</string>
			<key>award</key>
			<string>withoutsorrowpot</string>
			<key>energy</key>
			<integer>40</integer>
			<key>action</key>
			<string>1</string>
		</dict>
		<dict>
			<key>awardcount</key>
			<integer>5</integer>
			<key>name</key>
			<string>goose-fly</string>
			<key>award</key>
			<string>goose-fly</string>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<integer>60</integer>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>icon</key>
			<string>watercup</string>
			<key>status</key>
			<integer>3</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>snowflowerfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>watercup.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>下一个星球住着一个酒鬼，他一整天都在酗酒！</string>
				<string>为这个酒鬼倒一杯热水！</string>
			</array>
			<key>prince</key>
			<string>0</string>
			<key>pet</key>
			<string>tippler-watercup</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>withoutsorrowpot</string>
			<key>status</key>
			<integer>4</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>withoutsorrowfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>withoutsorrowpot.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>这个酒鬼说他无法忘记自己的羞耻，小王子想帮助他摆脱忧伤</string>
				<string>送一束忘忧花给这个酒鬼！</string>
			</array>
			<key>prince</key>
			<string>2</string>
			<key>pet</key>
			<string>tippler-withoutsorrow</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>goose-fly</string>
			<key>status</key>
			<string>5</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>goose.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>goose-fly.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>虽然只在这个星球上待了一小会，但这还是让小王子的心情蒙上一层阴影</string>
				<string>追随天上的白天鹅离开这个星球！</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
