<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>Astéroïde B-326</string>
		<key>desc</key>
		<string>Le vaniteux</string>
		<key>planetR</key>
		<real>1000</real>
		<key>planetName</key>
		<string>B-326</string>
		<key>gamestart</key>
		<string>Le petit prince visite le vaniteux</string>
		<key>gamepass</key>
		<string>Les grandes personnes sont décidément bien bizarres, petit prince dit à lui-même, comme il a continué son voyage.</string>
		<key>R</key>
		<string>255</string>
		<key>G</key>
		<string>115</string>
		<key>B</key>
		<string>210</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>conceitedman</string>
		<key>words</key>
		<array>
			<dict>
				<key>pet</key>
				<string>Ah! Ah! I am about to receive a visit from an admirer!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Good morning</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>That is a queer hat you are wearing.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>It is a hat for salutes</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>It is to raise in salute when people acclaim me.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Unfortunately, nobody at all ever passes this way.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Clap your hands, one against the other</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Yes?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>This is more entertaining than the visit to the king</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>And what should one do to make the hat come down?</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Do you really admire me very much?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>What does that mean-- &apos;admire&apos;?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>To admire mean that you regard me as the handsomest, the best-dressed, the richest, and the most intelligent man on this planet.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>But you are the only man on your planet!</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Do me this kindness. Admire me just the same.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>I admire you,</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>but what is there in that to interest you so much?</string>
				<key>task</key>
				<string>4</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>The grown-ups are certainly very odd</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<real>-1.1</real>
		<key>showday</key>
		<integer>2</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>mirror</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>-1</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>clover</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tree_pink_small</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_pink_large</string>
				<key>gift</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_red_large</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>cotton</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>phragmites</string>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>4</string>
				<key>name</key>
				<string>nest</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>award</key>
			<string>butterfly-green</string>
			<key>name</key>
			<string>butterfly-green</string>
			<key>energy</key>
			<integer>20</integer>
			<key>action</key>
			<string>5</string>
		</dict>
		<dict>
			<key>award</key>
			<string>guideboard</string>
			<key>name</key>
			<string>wood</string>
			<key>action</key>
			<string>2</string>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>award</key>
			<string>hat</string>
			<key>energy</key>
			<string>80</string>
			<key>name</key>
			<string>cottonfly</string>
			<key>action</key>
			<string>0</string>
		</dict>
		<dict>
			<key>award</key>
			<string>admirecard</string>
			<key>energy</key>
			<string>100</string>
			<key>action</key>
			<string>1</string>
			<key>name</key>
			<string>paperfly</string>
		</dict>
		<dict>
			<key>name</key>
			<string>goose-fly</string>
			<key>action</key>
			<integer>5</integer>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>goose-fly</string>
			<key>energy</key>
			<integer>120</integer>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>icon</key>
			<string>butterfly-green</string>
			<key>status</key>
			<integer>3</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>clover.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>butterfly-green.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>La seconde planète était habitée par un vaniteux. Pour les vaniteux, les autres hommes sont des admirateurs.</string>
				<string>Apportez un peu de papillon pour le vaniteux comme un cadeau.</string>
			</array>
			<key>prince</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>guideboard</string>
			<key>status</key>
			<integer>4</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>wood.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>guideboard.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>Le vaniteux porte un chapeau bizarre pour saluer quand les gens l&apos;acclament. Malheureusement, personne ne passe jamais de cette façon. Le petit prince décide d&apos;aider ce pauvre homme.</string>
				<string>Faire une carte de guide pour le Vaniteux, alors il recevra plus de visiteurs!</string>
			</array>
			<key>pet</key>
			<string>conceitedman-guidboard</string>
			<key>prince</key>
			<string>2</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>hat</string>
			<key>status</key>
			<string>5</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>cottonfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>hat.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>Le petit prince se demanda que ce que doit-on faire pour rendre le chapeau du vaniteux descendre.</string>
				<string>Apportez un nouveau chapeau pour le Conceited Man!</string>
			</array>
			<key>prince</key>
			<string>1</string>
			<key>pet</key>
			<string>conceited-newhat</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>admirecard</string>
			<key>status</key>
			<string>6</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>paperfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>admirecard.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>Le vaniteux veut être admiré. Pour admirer signifie que l&apos;on Sould le considèrent comme le plus beau, le mieux habillé, le plus riche, et l&apos;homme le plus intelligent de la planète.</string>
				<string>Inscrivez-vous une carte d&apos;admirer pour la Conceited Man!</string>
			</array>
			<key>prince</key>
			<string>1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>goose-fly</string>
			<key>status</key>
			<string>7</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>nest.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>goose-fly.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>Les grandes personnes sont décidément bien bizarres, dit le petit prince à lui-même, et a continué son voyage</string>
				<string>Quitter la planète avec l&apos;oiseau sauvage!</string>
			</array>
			<key>prince</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
