<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>소행성 B-329</string>
		<key>desc</key>
		<string>램프 라이터</string>
		<key>R</key>
		<string>0</string>
		<key>G</key>
		<string>153</string>
		<key>B</key>
		<string>255</string>
		<key>planetR</key>
		<integer>400</integer>
		<key>planetName</key>
		<string>B-329</string>
		<key>gamestart</key>
		<string>다섯 번째 행성은 매우 이상했다. 그것은 모두의 작은이었다. 거리 램프와 램프 라이터에 대한 그것에 충분한 공간이 있었다.</string>
		<key>gamepass</key>
		<string>어떤 어린 왕자는 고백을 감히하지 않은 것은 1440 일몰과 함께 축복받은 매일했기 때문에 그가이 지구를 떠나 모든의 가장 미안 것이 었습니다!</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>lamplighter</string>
		<key>words</key>
		<array>
			<dict>
				<key>prince</key>
				<string>Good morning.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Why have you just put out your lamp?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Those are the orders</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Good morning.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>What are the orders?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>The orders are that I put out my lamp. </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Good evening.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>But why have you just lighted it again?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Those are the orders,</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>I do not understand</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>There is nothing to understand</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Orders are orders. Good morning.</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I follow a terrible profession. In the old days it was reasonable. </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I put the lamp out in the morning, and in the evening I lighted it again. </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I had the rest of the day for relaxation and the rest of the night for sleep.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>And the orders have been changed since that time?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>the orders have not been changed</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>That is the tragedy!</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>From year to year the planet has turned more rapidly and the orders have not been changed!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Then what?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Then the planet now makes a complete turn every minute</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>and I no longer have a single second for repose.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Once every minute I have to light my lamp and put it out!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>That is very funny! A day lasts only one minute, here where you live!</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>It is not funny at all!</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>While we have been talking together a month has gone by.</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>A month?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Yes, a month. Thirty minutes. Thirty days. Good evening.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>You know,I can tell you a way you can rest whenever you want to…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I always want to rest</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Your planet is so small that three strides will take you all the way around it. </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>To be always in the sunshine, you need only walk along rather slowly.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>When you want to rest, you will walk</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>and the day will last as long as you like.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>That doesn&apos;t do me much good</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>The one thing I love in life is to sleep.</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Then you&apos;re unlucky</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>I am unlucky,Good morning.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>that man would be scorned by all the others: by the king, by the conceited man, by the tippler, by the businessman. </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Nevertheless he is the only one of them all who does not seem to me ridiculous. </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Perhaps that is because he is thinking of something else besides himself.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>That man is the only one of them all whom I could have made my friend. </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>But his planet is indeed too small. There is no room on it for two people…</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>2</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>lamp</string>
			<key>night</key>
			<string>lamp-light</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>firefly0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>firefly0</string>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>firefly0</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>dandelion</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>firefly0</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>seabird-stand</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>firefly0</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>candlelamp</string>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>firefly</string>
			<key>award</key>
			<string>alarm</string>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bubble</string>
			<key>award</key>
			<string>calandar</string>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>feather</string>
			<key>award</key>
			<string>pillow</string>
			<key>action</key>
			<string>1</string>
			<key>energy</key>
			<string>60</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lightfly</string>
			<key>award</key>
			<string>lightfly</string>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<string>80</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>icon</key>
			<string>alarm</string>
			<key>status</key>
			<string>3</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>firefly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>alarm.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>The lamplight follow a terrible profession, He has to put the lamp out in the morning, and in the evening lighted it again, A day lasts only one minute, here where the lamplighter live.</string>
				<string>Bring an alarm for the Lamplighter!</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>calandar</string>
			<key>status</key>
			<string>4</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>bubble.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>calandar.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>While they have been talking together a month has gone by.A month. Thirty minutes. Thirty days.</string>
				<string>Bring a calanda for the Lamplighter!</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>pillow</string>
			<key>status</key>
			<string>5</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>feather.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>pillow.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>As the little prince watched him, he felt that he loved this lamplighter who was so faithful to his orders,and He wanted to help his friend.The one thing the lamplighter love in life is to sleep.</string>
				<string>Bring a pillow for the Lamplighter!</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>lightfly</string>
			<key>status</key>
			<string>6</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>candlelamp.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>lightfly.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>That man is the only one of them all whom the little prince could have made friend. But his planet is indeed too small. There is no room on it for two people…</string>
				<string>Leave the planet with Sky Lanterns!</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
