<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>255</integer>
		<key>name</key>
		<string>小惑星のB-612</string>
		<key>desc</key>
		<string>ローズが到着します</string>
		<key>heroWeight</key>
		<integer>100</integer>
		<key>planetR</key>
		<integer>1000</integer>
		<key>planetWeight</key>
		<integer>200</integer>
		<key>gamepass</key>
		<string>彼女はしたくなかったために彼は、彼女が泣いて確認してください。彼女はそのような誇りの花でした。</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>words</key>
		<array>
			<dict>
				<key>pet</key>
				<string>ああ！私はほとんど目を覚ましています。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>私はあなたが私を許しすることを請います。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>私の花びらは、まだすべての乱されています...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>ああ！どのように美しいあなたがいます！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>私はいないのですか？そして、私は、太陽と同じ瞬間に生まれました...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>私はあなたが自分のニーズを考える優しさを持つ場合、それは、朝食のための時間だと思います</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>トラが自分の爪が付属してみよう！</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>とにかく、そこに私の惑星にはトラがされていない、と、トラは雑草を食べていません。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>しかし、私は雑草ではないです</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>私を許してください...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>私はトラの全く恐れていないが、私はドラフトの恐怖を持っています。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>私はあなたが私のために屏风を持っていないと仮定しますか？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>私はちょうどあなたが私に話したときに、それを探しに行っていました...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>屏风? </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>あなたが住んでいる場所、それは非常に寒いです。代わりに私はから来ました...</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>夜に私はあなたがガラスグローブの下に私を載せていきたいと思います。</string>
			</dict>
			<dict>
				<key>task</key>
				<integer>3</integer>
				<key>prince</key>
				<string>さようなら...</string>
				<key>pet</key>
				<string>...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>さようなら...</string>
				<key>pet</key>
				<string>私は愚かされている、私はあなたの許しを求めます。幸せにしてみてください...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>もちろん、私はあなたを愛し、それはあなたがそれをすべてしばらく知らなかった私のせいです。それは重要ではありません。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>しかしyou--、あなたは私が幸せにしてみてくださいと同じくらい愚かされています...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>ガラスグローブをすることができます。私はこれ以上を望んでいません。</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>しかし風？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>私は蝶と知り合いになりたい場合はまあ、私は、2つまたは3つの毛虫の存在を耐えなければなりません。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>それは、彼らは非常に美しいですようです。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>そして、蝶や毛虫はないが、私に誰を呼び出しますか？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>あなたは遠くになります...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>大型動物のためとして、私はすべてのそれらのいずれかを恐れていないです。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>私はすべてのそれらのいずれかを恐れていないです。私は自分の爪を持っています。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>このようにぐずぐずしないでください。あなたは離れて行くことにしました。今行きます！</string>
			</dict>
		</array>
		<key>name</key>
		<string>rose-small</string>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>-1</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>sun</string>
			<key>initHeight</key>
			<integer>500</integer>
			<key>initRot</key>
			<integer>0</integer>
			<key>initSpeed</key>
			<integer>-10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>dandelion</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tree_green_small</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_green_large</string>
				<key>gift</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_yellow_large</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_pink_large</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_red_large</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>flower</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>3</string>
				<key>name</key>
				<string>nest</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>clover</string>
				<key>gift</key>
				<string>4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>fourleaf</string>
				<key>gift</key>
				<string>5</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>dandelionfly</string>
			<key>action</key>
			<integer>0</integer>
			<key>award</key>
			<string>watering</string>
			<key>awardcount</key>
			<string>5</string>
			<key>energy</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>wood</string>
			<key>action</key>
			<integer>2</integer>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>screen</string>
			<key>energy</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>flowerfly</string>
			<key>action</key>
			<integer>1</integer>
			<key>award</key>
			<string>glassglobe</string>
			<key>awardcount</key>
			<string>5</string>
			<key>energy</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>goose-fly</string>
			<key>action</key>
			<integer>5</integer>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>goose-fly</string>
			<key>energy</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>cloverfly</string>
			<key>action</key>
			<integer>1</integer>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>fourleaffly</string>
			<key>action</key>
			<integer>1</integer>
			<key>energy</key>
			<integer>60</integer>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>stories</key>
			<array>
				<string>むかしむかし、新しい花が来ていた、知っていた誰から送風種子から、小惑星B-612.Oneの日と呼ばれている家よりは大きな惑星に住んでいる小さな王子があります。</string>
				<string>新しい花のためにいくつかの水を持参してください！</string>
			</array>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>watering</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>dandelionfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>watering.png</string>
				</dict>
			</array>
			<key>prince</key>
			<integer>1</integer>
			<key>pet</key>
			<string>rose</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>そしてある朝、まさに日の出、花が突然自分自身を示しました。彼女はドラフトの恐怖を持っているバラです、彼女は彼女のために、画面を取得するために王子を考えます。</string>
				<string>ローズウッドのスクリーンをお忘れなく！</string>
			</array>
			<key>status</key>
			<string>4</string>
			<key>icon</key>
			<string>screen</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>wood.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>screen.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose-screen</string>
			<key>prince</key>
			<string>2</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>彼女は間違って王子さまを置くために、このplanet.sheは2〜3回咳に冷たい感じとしてバラは、夜間にガラスグローブの下でパットすることを望んでいます。</string>
				<string>Roseのglassglobeをお忘れなく！</string>
			</array>
			<key>status</key>
			<string>5</string>
			<key>icon</key>
			<string>glassglobe</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>flowerfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>glassglobe.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose-glassglobe</string>
			<key>prince</key>
			<string>1</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>だから少し王子は、彼の愛と不可分であったすべての善意にもかかわらず、すぐに彼女を疑うようになっていました。彼は重要性なしでした真剣に言葉を取っていた、それは彼が非常に不幸ました。</string>
				<string>王子は彼の地球を残すことを決定し、彼は野生の鳥の群れの移動を利用する必要があります。</string>
			</array>
			<key>status</key>
			<string>6</string>
			<key>icon</key>
			<string>goose-fly</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>nest.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>goose-fly.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose</string>
			<key>prince</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
