<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>地球</string>
		<key>desc</key>
		<string>沙漠和蛇</string>
		<key>planetR</key>
		<real>10000</real>
		<key>planetName</key>
		<string>B-330</string>
		<key>gamestart</key>
		<string>地球可不是一颗普通的行星！</string>
		<key>gamepass</key>
		<string>小王子没有回答蛇的问题，继续他的旅程</string>
		<key>R</key>
		<string>253</string>
		<key>G</key>
		<string>163</string>
		<key>B</key>
		<string>25</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>snake</string>
		<key>words</key>
		<array>
			<dict>
				<key>prince</key>
				<string>晚上好</string>
				<key>task</key>
				<string>0</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>晚上好</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我现在是在哪个星球？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这里是地球，这里是非洲</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>啊，地球上怎么没有人？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这里是沙漠，沙漠上没有人类，地球很大很大</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我在想，天上的星星一闪一闪，是不是为了让哪些从星星上落下的人还能找到自己的家</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>你看我的星球，它就在我们的头顶上，但是它好远哪！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>它很漂亮，但是你为什么要到这里来？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我和一朵花之间发生了一些问题</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>啊！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>人们都在哪里？在这个沙漠上可真孤独</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>在人群之中也很孤独</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您真是一个有趣的生物，您还没有我的指头粗</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但我却比一个国王的手指还有力量</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您并不强大，您连脚都没有，甚至不能旅行</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但我却能够带你到比所有船只都不能到达的地方</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>哪些敢被我碰过的，都被送到他们的老家去了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但你是无辜而真诚的，你来之哪些星星...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>你让我觉得可怜，你是那么的脆弱，特别是在这个由坚硬花岗石构成的地球上</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>如果有一天你需要的话，我可以帮你，如果有一天你太想念你的家乡的话</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>哦，我明白你的意思了，但是为什么你总是喜欢说谜语</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我解决谜语</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这里是我着陆的地方</string>
				<key>task</key>
				<string>6</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<real>-0.1</real>
		<key>showday</key>
		<integer>2</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>pyramid</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>6</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Who are you?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Who are you--Who are you--Who are you?</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Be my friends. I am all alone</string>
				</dict>
				<dict>
					<key>item</key>
					<string>I am all alone--all alone--all alone</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>What a queer planet!It is altogether dry, and altogether pointed, and altogether harsh and forbidding. </string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And the people have no imagination. They repeat whatever one says to them…</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>On my planet I had a flower; she always was the first to speak…</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.5</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>ruin</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>6</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Who are you?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Who are you--Who are you--Who are you?</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Be my friends. I am all alone</string>
				</dict>
				<dict>
					<key>item</key>
					<string>I am all alone--all alone--all alone</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>What a queer planet!It is altogether dry, and altogether pointed, and altogether harsh and forbidding. </string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And the people have no imagination. They repeat whatever one says to them…</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>On my planet I had a flower; she always was the first to speak…</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.21</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>ruin1</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>6</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Who are you?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Who are you--Who are you--Who are you?</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Be my friends. I am all alone</string>
				</dict>
				<dict>
					<key>item</key>
					<string>I am all alone--all alone--all alone</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>What a queer planet!It is altogether dry, and altogether pointed, and altogether harsh and forbidding. </string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And the people have no imagination. They repeat whatever one says to them…</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>On my planet I had a flower; she always was the first to speak…</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.21</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>ruin2</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>6</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Who are you?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Who are you--Who are you--Who are you?</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Be my friends. I am all alone</string>
				</dict>
				<dict>
					<key>item</key>
					<string>I am all alone--all alone--all alone</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>What a queer planet!It is altogether dry, and altogether pointed, and altogether harsh and forbidding. </string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And the people have no imagination. They repeat whatever one says to them…</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>On my planet I had a flower; she always was the first to speak…</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.21</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>well</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>6</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Who are you?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Who are you--Who are you--Who are you?</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Be my friends. I am all alone</string>
				</dict>
				<dict>
					<key>item</key>
					<string>I am all alone--all alone--all alone</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>What a queer planet!It is altogether dry, and altogether pointed, and altogether harsh and forbidding. </string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And the people have no imagination. They repeat whatever one says to them…</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>On my planet I had a flower; she always was the first to speak…</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.62</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>bone0</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>1</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>bone1</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.2</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>bone2</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>2</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bone3</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.3</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus0</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>3</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus1</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>4</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus2</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>5</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus3</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>6</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>cactus-flower6</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>4</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Where are the men?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Men? I think there are six or seven of them in existence. </string>
				</dict>
				<dict>
					<key>item</key>
					<string>I saw them, several years ago. But one never knows where to find them. </string>
				</dict>
				<dict>
					<key>item</key>
					<string>he wind blows them away. They have no roots, and that makes their life very difficult.</string>
					<key>task</key>
					<string>5</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Goodbye</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Goodbye</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>7</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-2</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>sand</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sanddrift</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>name</key>
				<string>crystal-red</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>sand</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sanddrift</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>name</key>
				<string>crystal-blue</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>sand</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sanddrift</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>gift</key>
				<string>2</string>
				<key>name</key>
				<string>crystal-white</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>star-red</string>
			<key>award</key>
			<string>star-red</string>
			<key>energy</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>star-blue</string>
			<key>energy</key>
			<integer>70</integer>
			<key>award</key>
			<string>star-blue</string>
		</dict>
		<dict>
			<key>energy</key>
			<string>90</string>
			<key>name</key>
			<string>star-yellow</string>
			<key>award</key>
			<string>star-yellow</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>star-red</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>crystal-red.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>star-red.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>地球可不是什么普通星球，它上面有111个国王，7000个地理学家，九百万个商人，7500万个酒鬼，三亿个自恋的人--也就是说，大约有三十亿的大人</string>
				<string>小王子在一片沙漠中着陆了，在这里，他遇到了蛇</string>
				<string>收集一些红色的星星给蛇！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<integer>4</integer>
			<key>icon</key>
			<string>star-blue</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>crystal-blue.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>star-blue.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子抬头看着自己的星星，一闪闪的，却是那么的遥远</string>
				<string>收集一些蓝色的星星给蛇！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>5</string>
			<key>icon</key>
			<string>star-yellow</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>crystal-white.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>star-yellow.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>蛇告诉小王子，如果有一天他变得很想念自己的家乡，它可以帮忙送他回去，只需要轻轻的一咬</string>
				<string>收集一些黄色的星星给蛇！</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
