<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>小行星 B-328</string>
		<key>desc</key>
		<string>商人</string>
		<key>planetR</key>
		<real>1000</real>
		<key>planetName</key>
		<string>B-328</string>
		<key>R</key>
		<string>255</string>
		<key>G</key>
		<string>255</string>
		<key>B</key>
		<string>0</string>
		<key>gamestart</key>
		<string>小王子访问这商人的星球</string>
		<key>gamepass</key>
		<string>大人们真是不平凡,小王子一边继续自己的旅行，一边对自己说</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>businessman</string>
		<key>words</key>
		<array>
			<dict>
				<key>prince</key>
				<string>早上好，您的雪茄已经烧完了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>三加二等于五</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>五加七等于十二</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>十二加三等于十五</string>
				<key>task</key>
				<string>0</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>早上好</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>十五加七等于二十二，二十二加六等于二十八，二十六加五等于三十一</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>嘿! 总数是五亿一千六百二十万两千七百三十一</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>五亿个什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>啊？你还在这里哪？五亿一千万...对不起，我不能停下</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我有太多事情要做了！</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我关注这最终的结果</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我不允许自己去白日做梦</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>二加五等于七...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>五亿个什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>在我在这颗星球上居住的五十四年里，我只受到过三次的干扰。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>第一次是二十二年前，不知道老天从哪里丢过来已知吵闹的鹅</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>它的声音是那么的响亮，无论哪里都能听到，这害得我算错了四个数字！</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>第二次是十一年前，我被风湿病困扰</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我缺乏锻炼，因为我没有时间闲逛</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>第三次，我是说，就是现在...所以，五亿一千五...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>亿万个什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>亿万个小东西</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>有时候你可以在空中看到它们</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>苍蝇？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>哦，不是，是一种会闪闪发光的东西</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>蜜蜂？</string>
				<key>task</key>
				<string>4</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>蜜蜂?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当然不是，它是一种金光闪闪，能够让懒汉们做白日梦的东西</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>对于我，我是一个关注真实结果的人</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我的一生都没有任何闲暇时光去做白日梦</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>啊！您的意思是这些星星？</string>
				<key>task</key>
				<string>5</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>是的，是的，就是这些星星</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您要拿这五亿颗星星做什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>五亿一千六百二十万两千七百三十一颗</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我关注真实结果，我是一个精确的人</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您要拿这些星星做什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我要拿它们做什么？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>对呀</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>不做任何事情，我拥有它们</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>你拥有这些星星？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当然</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是我知道有一个国王...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>国王不拥有，他们统治。这非常不同。</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您拥有这些星星有什么好处么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>它们让我富有</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>当您富有了又有什么好处？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当我富有了，我可以购买更多已经发现了的星星</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这个人说话有点像那个可怜的酒鬼</string>
				<key>task</key>
				<string>6</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>一个人怎么可能去拥有这么多的星星</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这些星星的所有者是谁？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我不知道，它们不属于任何人</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>那么它们现在属于我，因为我是第一个想到的人</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这有必要么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当然，当你发现一颗钻石，那么这颗钻石就是属于你的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当你发现一个无人居住的小岛，那么这个小岛就是你的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当你比别人先拥有一个想法时，你申请专利，那么这个想法也是你的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>拿我来说，我拥有星星，这是因为之前没有任何人想过拥有它们</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>好吧，您说的有点道理，但是您拿这些星星来做什么呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我管理它们，我一次次的数它们，这是一件很困难的事情，但是好在我是一个注重结果的人。</string>
				<key>task</key>
				<string>7</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>如果我有一条丝绸围巾，我可以把它围在脖子上带走</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>如果我拥有一朵花，我可以把它摘下带走，当时您不能摘下一颗星星</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>是的，我确实不能，但我可以把它们存到银行</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这是什么意思？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这意味着，我可以把星星的数目在一张纸上。然后我把这个文件锁在保险柜里</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这就可以了么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这已经足够了</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这很有趣，也很有诗意，但这却不是什么伟大的结果</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>嗯...</string>
				<key>task</key>
				<string>8</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我拥有一朵花，我每天给她浇水</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我有三座小火山，我每周都要清理一遍</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我的火山有一定的用途，我的花也是，我拥有它们</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但您拿这些星星却毫无用途</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这些大人真是难以理解的</string>
				<key>task</key>
				<string>9</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>-1</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>bank</string>
			<key>product</key>
			<string>cloud</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>em...</string>
					<key>task</key>
					<string>0</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-1.5</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>safetybox</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>em...</string>
					<key>task</key>
					<string>0</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.5</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>goldmine</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>metalmine</string>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>nest</string>
			</dict>
			<dict>
				<key>name</key>
				<string>goose</string>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>beenest</string>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>starflower</string>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tulip</string>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>5</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>goldcoin</string>
			<key>award</key>
			<string>coinbag</string>
			<key>awardcount</key>
			<integer>5</integer>
			<key>action</key>
			<integer>0</integer>
			<key>energy</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>metal</string>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>typewriter</string>
			<key>action</key>
			<integer>2</integer>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>goose-fly</string>
			<key>award</key>
			<string>goose-fly</string>
			<key>awardcount</key>
			<integer>5</integer>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>beefly</string>
			<key>award</key>
			<string>beefly</string>
			<key>awardcount</key>
			<integer>5</integer>
			<key>action</key>
			<string>0</string>
			<key>energy</key>
			<string>80</string>
		</dict>
		<dict>
			<key>name</key>
			<string>starflowerfly</string>
			<key>award</key>
			<string>star</string>
			<key>awardcount</key>
			<integer>5</integer>
			<key>action</key>
			<string>1</string>
			<key>energy</key>
			<string>100</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tulipfly</string>
			<key>award</key>
			<string>tulippot</string>
			<key>awardcount</key>
			<integer>5</integer>
			<key>action</key>
			<string>1</string>
			<key>energy</key>
			<string>140</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>icon</key>
			<string>coinbag</string>
			<key>status</key>
			<integer>3</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>goldcoin.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>coinbag.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>第四颗行星属于一个商人，他实在太忙了，当小王子到来时，他甚至没有从桌子上抬头看一下</string>
				<string>付给这个商人一些金币，这样他才会和你说话！</string>
			</array>
			<key>prince</key>
			<string>1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>typewriter</string>
			<key>status</key>
			<integer>4</integer>
			<key>pet</key>
			<string>businessman-typewriter</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>metal.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>typewriter.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>这个商人每天都在做纸上的计算和书写工作，他需要一台打字机</string>
				<string>为商人制作一台打字机！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>goose-fly</string>
			<key>status</key>
			<string>5</string>
			<key>pet</key>
			<string>businessman-goose</string>
			<key>stories</key>
			<array>
				<string>这个商人的一生中只被打搅过三次，第一次是二十二年前，一只不知道从哪里冒出来的白鹅呱呱大叫，可怕的噪声回荡在星球的每一个角落</string>
				<string>抓一只白鹅来逗逗这个商人！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>beefly</string>
			<key>status</key>
			<string>6</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>beenest.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>beefly.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>商人说他拥有很多天上飞来飞去的小东西</string>
				<string>捉一只天上飞的黄蜂给商人！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>star-yellow</string>
			<key>status</key>
			<string>7</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>starflowerfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>star-yellow.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>商人告诉小王子，他拥有的是天上的闪闪发光的东西，这能够让懒汉们做白日梦，但他是一个注重真实结果的人，他的生活没有时间做白日梦</string>
				<string>摘一些星星花朵给这个商人！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>8</string>
			<key>icon</key>
			<string>tulippot</string>
			<key>pet</key>
			<string>businessman-tulippot</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>tulipfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>tulippot.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子告诉商人，如果一个人拥有一朵花，他可以把它摘下带走，但是如果一个人拥有的是星星，他根本没法使用它</string>
				<string>送一盆郁金香给商人，然后和他告别继续自己的旅程！</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
