<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>Earth</string>
		<key>desc</key>
		<string>Polite in the desert</string>
		<key>planetR</key>
		<real>10000</real>
		<key>planetName</key>
		<string>B-330</string>
		<key>gamestart</key>
		<string>The narrator crashes in the desert and makes the acquaintance of the little prince</string>
		<key>gamepass</key>
		<string>There was nothing but a flash of yellow close to his ankle. He remained motionless for an instant. He did not cry out. He fell as gently as a tree falls. There was not even any sound, because of the sand.

</string>
		<key>R</key>
		<string>226</string>
		<key>G</key>
		<string>53</string>
		<key>B</key>
		<string>1</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>pilot</string>
		<key>words</key>
		<array>
			<dict>
				<key>prince</key>
				<string>If you please-- draw me a sheep!&quot;</string>
				<key>task</key>
				<string>0</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>What!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Draw me a sheep!</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>But-- what are you doing here?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>If you please-- draw me a sheep…</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>That doesn&apos;t matter. Draw me a sheep…</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>No, no, no! I do not want an elephant inside a boa constrictor.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>A boa constrictor is a very dangerous creature, and an elephant is very cumbersome. </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Where I live, everything is very small. What I need is a sheep. Draw me a sheep.</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>No. This sheep is already very sickly. Make me another.</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>You see yourself,that this is not a sheep. This is a ram. It has horns.</string>
				<key>task</key>
				<string>4</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>This one is too old. I want a sheep that will live a long time.</string>
				<key>task</key>
				<string>5</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>This is only his box. The sheep you asked for is inside.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>That is exactly the way I wanted it! Do you think that this sheep will have to have a great deal of grass?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Why?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Because where I live everything is very small…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>There will surely be enough grass for him,It is a very small sheep that I have given you.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Not so small that-- Look! He has gone to sleep…</string>
				<key>task</key>
				<string>6</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>What is that object?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>That is not an object. It flies. It is an airplane. It is my airplane.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>What! You dropped down from the sky?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Yes</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Oh! That is funny!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>So you, too, come from the sky! Which is your planet?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Do you come from another planet?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>It is true that on that you can&apos;t have come from very far away…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>My little man, where do you come from? What is this &apos;where I live,&apos; of which you speak? Where do you want to take your sheep?</string>
				<key>task</key>
				<string>7</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>The thing that is so good about the box you have given me is that at night he can use it as his house.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>That is so. And if you are good I will give you a string, too, so that you can tie him during the day, and a post to tie him to.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Tie him! What a queer idea!</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>But if you don&apos;t tie him, he will wander off somewhere, and get lost.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>But where do you think he would go?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Anywhere. Straight ahead of him.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>That doesn&apos;t matter. Where I live, everything is so small!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Straight ahead of him, nobody can go very far…</string>
				<key>task</key>
				<string>8</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>It is true, isn&apos;t it, that sheep eat little bushes?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Yes, that is true.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Ah! I am glad!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Then it follows that they also eat baobabs?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>The baobabs were not little bushes, but, on the contrary, trees as big as castles; </string>
			</dict>
			<dict>
				<key>pet</key>
				<string>and that even if he took a whole herd of elephants away with him, the herd would not eat up one single baobab</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>We would have to put them one on top of the other</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Before they grow so big, the baobabs start out by being little.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>That is strictly correct,But why do you want the sheep to eat the little baobabs?</string>
				<key>task</key>
				<string>9</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Oh, come, come!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>It is a question of discipline,</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>When you&apos;ve finished your own toilet in the morning, then it is time to attend to the toilet of your planet</string>
			</dict>
			<dict>
				<key>prince</key>
				<string> just so, with the greatest care. You must see to it that you pull up regularly all the baobabs</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>at the very first moment when they can be distinguished from the rosebushes which they resemble so closely in their earliest youth.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>It is very tedious work, but very easy.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>You ought to make a beautiful drawing, so that the children where you live can see exactly how all this is.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>That would be very useful to them if they were to travel some day. Sometimes</string>
				<key>task</key>
				<string>10</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>there is no harm in putting off a piece of work until another day.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>But when it is a matter of baobabs, that always means a catastrophe. </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>I knew a planet that was inhabited by a lazy man. He neglected three little bushes…</string>
				<key>task</key>
				<string>11</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>I am very fond of sunsets. Come, let us go look at a sunset now.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>But we must wait</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Wait? For what?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>For the sunset. We must wait until it is time.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>I am always thinking that I am at home!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>One day, I saw the sunset forty-four times!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>You know,one loves the sunset, when one is so sad…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Were you so sad, then?on the day of the forty-four sunsets?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>A sheep-- if it eats little bushes, does it eat flowers, too?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>A sheep,eats anything it finds in its reach.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Even flowers that have thorns?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Yes, even flowers that have thorns.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Then the thorns-- what use are they?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>The thorns-- what use are they?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>The thorns are of no use at all. Flowers have thorns just for spite!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Oh!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>I don&apos;t believe you! Flowers are weak creatures.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>They are nave. They reassure themselves as best they can. </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>They believe that their thorns are terrible weapons…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>And you actually believe that the flowers</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Oh, no! No, no no! I don&apos;t believe anything. I answered you with the first thing that came into my head.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Don&apos;t you see-- I am very busy with matters of consequence!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Matters of consequence!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>You talk just like the grown-ups!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>You mix everything up together… You confuse everything…</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>I know a planet where there is a certain red-faced gentleman.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>He has never smelled a flower. He has never looked at a star. He has never loved any one.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>He has never done anything in his life but add up figures. </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>And all day he says over and over, just like you: &apos;I am busy with matters of consequence!&apos; </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>And that makes him swell up with pride. But he is not a man-- he is a mushroom!</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>A what?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>A mushroom!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>The flowers have been growing thorns for millions of years.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>for millions of years the sheep have been eating them just the same.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>And is it not a matter of consequence to try to understand why the flowers go to so much trouble to grow thorns which are never of any use to them?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Is the warfare between the sheep and the flowers not important? </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Is this not of more consequence than a fat red-faced gentleman&apos;s sums? </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>And if I know-- I, myself-- one flower which is unique in the world, which grows nowhere but on my planet, but which one little sheep can destroy in a single bite some morning, without even noticing what he is doing-- Oh! You think that is not important!</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>If some one loves a flower, of which just one single blossom grows in all the millions and millions of stars, it is enough to make him happy just to look at the stars. </string>
			</dict>
			<dict>
				<key>prince</key>
				<string>He can say to himself, &apos;Somewhere, my flower is there…&apos; But if the sheep eats the flower, in one moment all his stars will be darkened… And you think that is not important!</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>The flower that you love is not in danger. I will draw you a muzzle for your sheep. I will draw you a railing to put around your flower. I will</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<real>-0.1</real>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>0</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>0.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>1</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>1.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>2</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>2.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>3</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>3.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>4</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>4.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>5</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.1</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.2</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.3</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.4</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.5</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.6</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.7</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.8</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<real>5.9</real>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>name</key>
			<string>plane_small</string>
			<key>initHeight</key>
			<integer>1000</integer>
			<key>initRot</key>
			<integer>6</integer>
			<key>initSpeed</key>
			<integer>10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>plane</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>pyramid</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.5</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>ruin</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.41</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>ruin1</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.21</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>ruin2</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.31</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>well</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.62</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bone0</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>1</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bone1</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.2</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bone2</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>2</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bone3</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>3</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus0</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>3</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus1</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>4</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus2</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>5</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>cactus3</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>6</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sheep0</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>cactus-flower6</string>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>cactus-flower2</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>cactus-flower1</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>geer</string>
				<key>gift</key>
				<string>4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>snake</string>
				<key>gift</key>
				<string>5</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sheep1</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sheep2</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sheep3</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>screw</string>
				<key>gift</key>
				<string>4</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>box</string>
			<key>award</key>
			<string>box</string>
			<key>action</key>
			<string>4</string>
			<key>energy</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>sheepmask</string>
			<key>award</key>
			<string>sheepmask</string>
			<key>action</key>
			<string>3</string>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>waterbag</string>
			<key>award</key>
			<string>waterbag</string>
			<key>energy</key>
			<integer>60</integer>
			<key>action</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>dragonfly</string>
			<key>award</key>
			<string>airscrew</string>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>wrench</string>
			<key>award</key>
			<string>wrench</string>
			<key>action</key>
			<string>2</string>
			<key>energy</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>energy</key>
			<string>120</string>
			<key>name</key>
			<string>poison</string>
			<key>award</key>
			<string>poison</string>
			<key>action</key>
			<string>2</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>box</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>sheep0.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>box.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>The narrator crashes in the desert and makes the acquaintance of the little prince. The little prince wants a sheep to eat little bushes in his planet.</string>
				<string>Get a little sheep in the box!</string>
			</array>
			<key>prince</key>
			<string>0</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>4</integer>
			<key>icon</key>
			<string>sheepmask</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>cactus-flower2.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>sheepmask.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>A sheep-- if it eats little bushes, it eat flowers too, The little prince need a muzzle for his sheep. </string>
				<string>Get a muzzle for the sheep.</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>5</string>
			<key>icon</key>
			<string>waterbag</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>cactus-flower1.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>waterbag.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>The pilot have not yet succeeded in repairing his plane; he have nothing more to drink.he&apos;s about to die of thirst…</string>
				<string>Bring  a spring of fresh water for the pilot.</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>6</string>
			<key>icon</key>
			<string>airscrew</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>dragonfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>airscrew.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>The plane&apos;s airscrew is broken, without a airscrew the pilot can not make the plane flying in the sky.</string>
				<string>Bring an airscrew for the plane.</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>7</string>
			<key>icon</key>
			<string>wrench</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>geer.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>wrench.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>The pilot get his wrench lost, witout a wench he can not fix the problem of the plane.</string>
				<string>Bring the wrench for the pilot</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>8</string>
			<key>icon</key>
			<string>poison</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>snake.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>poison.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>The little prince meet the snake in the ruins, it can help him back to his plane with poison. It is too far. the little prince cannot carry the body with him. It is too heavy.</string>
				<string>Leave the earth with the snake&apos;s poison!</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
