<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>255</integer>
		<key>name</key>
		<string>Asteroïde B-612</string>
		<key>desc</key>
		<string>La Rose arrive</string>
		<key>heroWeight</key>
		<integer>100</integer>
		<key>planetR</key>
		<integer>1000</integer>
		<key>planetWeight</key>
		<integer>200</integer>
		<key>gamepass</key>
		<string>Car elle ne voulait pas qu&apos;il la vît pleurer. Elle était une fleur fiers.</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>words</key>
		<array>
			<dict>
				<key>pet</key>
				<string>Ah! Je suis à peine éveillé.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Je prie que vous me pardonnerez.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Mes pétales sont encore tout dérangés ...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Oh! Comme tu es belle!</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Suis-je pas? Et je suis né au même moment que le soleil ...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Je pense qu&apos;il est temps pour le petit déjeuner, si vous auriez la gentillesse de penser à mes besoins</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Que les tigres viennent avec leurs griffes!</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Il n&apos;y a pas de tigres sur ma planète, et, de toute façon, les tigres ne mangent pas les mauvaises herbes.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Mais je ne suis pas une mauvaise herbe</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>S&apos;il vous plaît excusez moi…</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Je ne suis pas du tout peur des tigres, mais je avoir une horreur de projets.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Je suppose que vous ne voudriez pas avoir un écran pour moi?</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Je voulais simplement le chercher quand vous me parliez ...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>L&apos;écran?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Il fait très froid là où vous vivez. A la place je suis venu de ...</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>La nuit, je veux que vous me mettez sous un globe de verre.</string>
			</dict>
			<dict>
				<key>task</key>
				<integer>3</integer>
				<key>prince</key>
				<string>Au revoir...</string>
				<key>pet</key>
				<string>...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Au revoir...</string>
				<key>pet</key>
				<string>Je suis stupide, je vous demande pardon. Essayez d&apos;être heureux ...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Bien sûr, Je t&apos;aime, Il est de ma faute si vous ne connaissez pas tout le temps. Cela n&apos;a aucune importance.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Mais vous-- vous avez été aussi sot que moi essayer d&apos;être heureux ...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>laisser le globe de verre soit. Je ne le veux plus.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>Mais le vent?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Eh bien, je dois endurer la présence de deux ou trois chenilles si je veux connaître les papillons.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Il semble qu&apos;ils sont très belles.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Et sinon les papillons et les chenilles, qui fera appel à moi?</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Vous serez loin ...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>comme pour les grands animaux, je ne suis pas du tout peur de l&apos;un d&apos;eux.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Je ne suis pas du tout peur de l&apos;un d&apos;eux. Je dois mes griffes.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>Ne vous attardez pas comme ça. Vous avez décidé de partir. Vas y!</string>
			</dict>
		</array>
		<key>name</key>
		<string>rose-small</string>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>-1</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>sun</string>
			<key>initHeight</key>
			<integer>500</integer>
			<key>initRot</key>
			<integer>0</integer>
			<key>initSpeed</key>
			<integer>-10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>dandelion</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tree_green_small</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_green_large</string>
				<key>gift</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_yellow_large</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_pink_large</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_red_large</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>flower</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>3</string>
				<key>name</key>
				<string>nest</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>clover</string>
				<key>gift</key>
				<string>4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>fourleaf</string>
				<key>gift</key>
				<string>5</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>dandelionfly</string>
			<key>action</key>
			<integer>0</integer>
			<key>award</key>
			<string>watering</string>
			<key>awardcount</key>
			<string>5</string>
			<key>energy</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>wood</string>
			<key>action</key>
			<integer>2</integer>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>screen</string>
			<key>energy</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>flowerfly</string>
			<key>action</key>
			<integer>1</integer>
			<key>award</key>
			<string>glassglobe</string>
			<key>awardcount</key>
			<string>5</string>
			<key>energy</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>goose-fly</string>
			<key>action</key>
			<integer>5</integer>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>goose-fly</string>
			<key>energy</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>cloverfly</string>
			<key>action</key>
			<integer>1</integer>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>fourleaffly</string>
			<key>action</key>
			<integer>1</integer>
			<key>energy</key>
			<integer>60</integer>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>stories</key>
			<array>
				<string>Il était une fois, il ya un petit prince qui vit sur une planète pas grand qu&apos;une maison, qui est appelé jour Asteroid B-612.One, d&apos;une graine d&apos;on ne savait où, une nouvelle fleur était venu.</string>
				<string>Apportez un peu d&apos;eau pour la nouvelle fleur!</string>
			</array>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>watering</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>dandelionfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>watering.png</string>
				</dict>
			</array>
			<key>prince</key>
			<integer>1</integer>
			<key>pet</key>
			<string>rose</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>Puis, un matin, au lever du soleil exactement, la fleur se montra soudainement. Elle est une rose qui a horreur des courants d&apos;air, et elle suppose le prince d&apos;obtenir un écran pour elle.</string>
				<string>Apportez un écran de bois pour la Rose!</string>
			</array>
			<key>status</key>
			<string>4</string>
			<key>icon</key>
			<string>screen</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>wood.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>screen.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose-screen</string>
			<key>prince</key>
			<string>2</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>La rose veut être roulés sous un globe de verre dans la nuit, comme elle se sent froid dans ce planet.she toussa deux ou trois fois, afin de mettre le petit prince dans son tort.</string>
				<string>Apportez un glassglobe pour la Rose!</string>
			</array>
			<key>status</key>
			<string>5</string>
			<key>icon</key>
			<string>glassglobe</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>flowerfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>glassglobe.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose-glassglobe</string>
			<key>prince</key>
			<string>1</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>Ainsi le petit prince, en dépit de toute la bonne volonté qui était inséparable de son amour, avait bientôt à douter d&apos;elle. Il avait pris au sérieux des mots sans importance, et il fait très malheureux.</string>
				<string>Le petit prince décide de quitter sa planète, il doit prendre l&apos;avantage de la migration d&apos;un vol d&apos;oiseaux sauvages.</string>
			</array>
			<key>status</key>
			<string>6</string>
			<key>icon</key>
			<string>goose-fly</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>nest.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>goose-fly.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose</string>
			<key>prince</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
