<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>R</key>
		<integer>255</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>0</integer>
		<key>name</key>
		<string>Asteroïde B-612</string>
		<key>desc</key>
		<string>Retour à la maison</string>
		<key>heroWeight</key>
		<integer>100</integer>
		<key>planetR</key>
		<integer>1000</integer>
		<key>planetWeight</key>
		<integer>200</integer>
		<key>gamepass</key>
		<string>Car elle ne voulait pas qu&apos;il la vît pleurer. Elle était une fleur fiers.</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>rose</string>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>-1</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>barrier</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>-1</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>sheep0</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-1.5</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>sun</string>
			<key>initHeight</key>
			<integer>500</integer>
			<key>initRot</key>
			<integer>0</integer>
			<key>initSpeed</key>
			<integer>-10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>dandelion</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>flower</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>name</key>
				<string>littletree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tree_green_small</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_green_large</string>
				<key>gift</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_yellow_large</string>
				<key>gift</key>
				<integer>0</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>clover</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>fourleaf</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>love</string>
			<key>action</key>
			<integer>5</integer>
			<key>award</key>
			<string>love</string>
			<key>awardcount</key>
			<string>50000</string>
			<key>energy</key>
			<integer>60</integer>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>stories</key>
			<array>
				<string>La nuit, vous pourrez regarder les étoiles. Lorsque le petit prince tout en direct est si petit qu&apos;il ne peut pas vous montrer où son étoile se trouve. Il vaut mieux, comme ça. Son étoile, ça sera l&apos;une des étoiles, pour vous. Et si vous allez adorer regarder toutes les étoiles dans le ciel ...</string>
				<string>Ils seront tous vos amis.</string>
			</array>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>love</string>
			<key>prince</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>La nuit, vous pourrez regarder les étoiles. Lorsque le petit prince tout en direct est si petit qu&apos;il ne peut pas vous montrer où son étoile se trouve. Il vaut mieux, comme ça. Son étoile, ça sera l&apos;une des étoiles, pour vous. Et si vous allez adorer regarder toutes les étoiles dans le ciel ...</string>
				<string>Ils seront tous vos amis.</string>
			</array>
			<key>status</key>
			<integer>4</integer>
			<key>icon</key>
			<string>love</string>
			<key>prince</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
