<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>小行星 B-326</string>
		<key>desc</key>
		<string>自恋的人</string>
		<key>planetR</key>
		<real>1000</real>
		<key>planetName</key>
		<string>B-326</string>
		<key>gamestart</key>
		<string>小王子访问了一个自恋的人</string>
		<key>gamepass</key>
		<string>大人们真奇怪，小王子自言自语，继续他的旅程</string>
		<key>R</key>
		<string>255</string>
		<key>G</key>
		<string>115</string>
		<key>B</key>
		<string>210</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>conceitedman</string>
		<key>words</key>
		<array>
			<dict>
				<key>pet</key>
				<string>哈哈，有一个粉丝来访问我了！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>早上好！</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您戴了一顶奇怪的帽子。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这是一顶礼宾帽子。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当人们对我致意时，我将抬起它表示欢迎。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>不幸的是，从前从来没有人从这里经过</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>鼓起你的双手，用左手拍打右手</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这样么？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>哈哈，这比访问国王好玩多了！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>怎么才能让你脱下这顶帽子？</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>你是不是真的很崇拜我？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>“崇拜”是什么意思？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>所谓崇拜，就是指你认为我就是这个星球上最漂亮，穿得最得体，最富有和最聪明的一个人</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但您是这个星球上仅有的一个人哪？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>行行好，崇拜我吧</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我崇拜您</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但被人崇拜就这么有意思么？</string>
				<key>task</key>
				<string>4</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这些大人们真奇怪</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<real>-1.1</real>
		<key>showday</key>
		<integer>2</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>mirror</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>-1</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>clover</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tree_pink_small</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_pink_large</string>
				<key>gift</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_red_large</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>cotton</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>phragmites</string>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>4</string>
				<key>name</key>
				<string>nest</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>award</key>
			<string>butterfly-green</string>
			<key>name</key>
			<string>butterfly-green</string>
			<key>energy</key>
			<integer>20</integer>
			<key>action</key>
			<string>5</string>
		</dict>
		<dict>
			<key>award</key>
			<string>guideboard</string>
			<key>name</key>
			<string>wood</string>
			<key>action</key>
			<string>2</string>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>award</key>
			<string>hat</string>
			<key>energy</key>
			<string>80</string>
			<key>name</key>
			<string>cottonfly</string>
			<key>action</key>
			<string>0</string>
		</dict>
		<dict>
			<key>award</key>
			<string>admirecard</string>
			<key>energy</key>
			<string>100</string>
			<key>action</key>
			<string>1</string>
			<key>name</key>
			<string>paperfly</string>
		</dict>
		<dict>
			<key>name</key>
			<string>goose-fly</string>
			<key>action</key>
			<integer>5</integer>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>goose-fly</string>
			<key>energy</key>
			<integer>120</integer>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>icon</key>
			<string>butterfly-green</string>
			<key>status</key>
			<integer>3</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>clover.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>butterfly-green.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>第二个星球上住着一个自恋的人，对于自恋的人来说，其它人都是自己的仰慕者。</string>
				<string>捉几只绿色的蝴蝶给自恋者作为见面礼！</string>
			</array>
			<key>prince</key>
			<string>0</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>guideboard</string>
			<key>status</key>
			<integer>4</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>wood.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>guideboard.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>这个自恋的人带着一顶奇怪的礼宾帽，当人们对他致意时，他会稍稍抬起帽子表示欢迎。遗憾的根本就没有人来访问他。小王子决定帮助这个可怜虫。</string>
				<string>为这个自恋的人制作一个路牌，这样的话大家就能够知道他的存在，并且过来访问他！</string>
			</array>
			<key>pet</key>
			<string>conceitedman-guidboard</string>
			<key>prince</key>
			<string>2</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>hat</string>
			<key>status</key>
			<string>5</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>cottonfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>hat.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子很好奇怎么才能让这个自恋的人脱下那奇怪的帽子。</string>
				<string>送一顶舒适漂亮的小红帽给这个自恋的人！</string>
			</array>
			<key>prince</key>
			<string>1</string>
			<key>pet</key>
			<string>conceited-newhat</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>admirecard</string>
			<key>status</key>
			<string>6</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>paperfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>admirecard.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>这个自恋的人希望能够被崇拜，崇拜他意味着认为他是这个星球上最漂亮，穿得最得体，最富有，又最聪明的人。</string>
				<string>为这个自恋的人签一张粉丝小卡片！</string>
			</array>
			<key>prince</key>
			<string>1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>goose-fly</string>
			<key>status</key>
			<string>7</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>nest.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>goose-fly.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子觉得大人们真是奇怪，于是便继续自己的旅程</string>
				<string>追随飞行的野鸟离开这个星球！</string>
			</array>
			<key>prince</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
