<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>R</key>
		<integer>255</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>0</integer>
		<key>name</key>
		<string>小行星 B-612</string>
		<key>desc</key>
		<string>回家</string>
		<key>heroWeight</key>
		<integer>100</integer>
		<key>planetR</key>
		<integer>1000</integer>
		<key>planetWeight</key>
		<integer>200</integer>
		<key>gamestart</key>
		<string>小王子回到了自己的星球</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>rose</string>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>-1</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>barrier</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<integer>-1</integer>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>sheep0</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-1.5</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>sun</string>
			<key>initHeight</key>
			<integer>500</integer>
			<key>initRot</key>
			<integer>0</integer>
			<key>initSpeed</key>
			<integer>-10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>dandelion</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>flower</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>name</key>
				<string>littletree</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tree_green_small</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_green_large</string>
				<key>gift</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_yellow_large</string>
				<key>gift</key>
				<integer>0</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>clover</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>fourleaf</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>love</string>
			<key>action</key>
			<integer>5</integer>
			<key>award</key>
			<string>love</string>
			<key>awardcount</key>
			<string>50000</string>
			<key>energy</key>
			<integer>60</integer>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>stories</key>
			<array>
				<string>夜晚你仰望星空，小王子的星球是那么的小你没法在繁星中把它分辨，这样更好，因为你知道，他的星星就是其中的一颗，你将爱上天空上所有的星星</string>
				<string>它们全都是你的朋友</string>
			</array>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>love</string>
			<key>prince</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>好了好了，这个故事就到这里</string>
				<string>我是ClassFoo，谢谢你如此耐心玩到这里！</string>
			</array>
			<key>status</key>
			<integer>4</integer>
			<key>icon</key>
			<string>love</string>
			<key>prince</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
