<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>R</key>
		<integer>0</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>255</integer>
		<key>name</key>
		<string>小行星 B-612</string>
		<key>desc</key>
		<string>玫瑰的到来</string>
		<key>heroWeight</key>
		<integer>100</integer>
		<key>planetR</key>
		<integer>1000</integer>
		<key>planetWeight</key>
		<integer>200</integer>
		<key>gamepass</key>
		<string>玫瑰不想让他看到自己的眼泪，因为她是一朵骄傲的花.</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>words</key>
		<array>
			<dict>
				<key>pet</key>
				<string>啊，我终于醒过来了！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>希望您能原谅我.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我的花瓣还没有完全整理好...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>噢，您真漂亮！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>难道不是么，毕竟我是在阳光照亮的那一刻出生的哪...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>是时候享受早餐了，能否麻烦您稍稍考虑一下我的需要？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>让老虎张牙舞爪的过来吧！</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是，我的星球并没有老虎哪，并且，老虎是不吃草的...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我可不是什么野草！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>请原谅我...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我一点都不害怕老虎，但是我不喜欢冰冷的穿堂风...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我在想，您会不会为我准备一个屏风？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您和我说话时我正准备去找屏风...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我的屏风呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>您住的地方可真冷，我过来的地方可是...</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我希望夜幕降临的时候您能够为我准备一个玻璃罩子.</string>
			</dict>
			<dict>
				<key>task</key>
				<integer>3</integer>
				<key>prince</key>
				<string>再见...</string>
				<key>pet</key>
				<string>...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>再见...</string>
				<key>pet</key>
				<string>我真傻，希望您能够原谅我，希望您能够得到快乐...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我当然是爱您的，在这么长的时间里没能让您感受到，这是我的错误. 但这些都不重要了...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但是您...您只是和我一样的傻，无论如何，请努力开心起来...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>拿走这个玻璃罩子吧，我想我再也不会需要它了.</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是这里的寒风？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>如果希望和蝴蝶们成为朋友，那我就必须忍受那两三只毛毛虫.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>您看蝴蝶们是多么漂亮.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>除了蝴蝶和毛毛虫，又还会有谁愿意和我待在一起呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>您将要离开去一个很远的地方...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>再说哪些野兽，其实我一点都不害怕它们.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>因为我的刺一点也不比它们的爪子弱小.</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>不要再这样犹豫不决了，您已经决定要离开，那请快点离开！</string>
			</dict>
		</array>
		<key>name</key>
		<string>rose-small</string>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>-1</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>sun</string>
			<key>initHeight</key>
			<integer>500</integer>
			<key>initRot</key>
			<integer>0</integer>
			<key>initSpeed</key>
			<integer>-10</integer>
			<key>z</key>
			<real>-1000</real>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>volcano</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>dandelion</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tree_green_small</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_green_large</string>
				<key>gift</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_yellow_large</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_pink_large</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_red_large</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>flower</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>3</string>
				<key>name</key>
				<string>nest</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>clover</string>
				<key>gift</key>
				<string>4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>sprout</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>fourleaf</string>
				<key>gift</key>
				<string>5</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>dandelionfly</string>
			<key>action</key>
			<integer>0</integer>
			<key>award</key>
			<string>watering</string>
			<key>awardcount</key>
			<string>5</string>
			<key>energy</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>wood</string>
			<key>action</key>
			<integer>2</integer>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>screen</string>
			<key>energy</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>flowerfly</string>
			<key>action</key>
			<integer>1</integer>
			<key>award</key>
			<string>glassglobe</string>
			<key>awardcount</key>
			<string>5</string>
			<key>energy</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>goose-fly</string>
			<key>action</key>
			<integer>5</integer>
			<key>awardcount</key>
			<integer>5</integer>
			<key>award</key>
			<string>goose-fly</string>
			<key>energy</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>cloverfly</string>
			<key>action</key>
			<integer>1</integer>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>fourleaffly</string>
			<key>action</key>
			<integer>1</integer>
			<key>energy</key>
			<integer>60</integer>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>stories</key>
			<array>
				<string>曾经有一个小王子，他住在一个比一所房子大不了多少的小行星上，这颗行星的名字叫做B-612。有一天，当他在星球上散步时，发现不知道从哪里吹来的一颗种子长出了一朵从没见过的小花。</string>
				<string>请为这朵小花浇点水！</string>
			</array>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>watering</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>dandelionfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>watering.png</string>
				</dict>
			</array>
			<key>prince</key>
			<integer>1</integer>
			<key>pet</key>
			<string>rose</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>一天早上，正当太阳升起的时候，小花朵突然展开了自己，这是一朵娇贵的小玫瑰，她甚至害怕穿堂而过的微风。小玫瑰希望小王子能够为她准备一个木头屏风。</string>
				<string>请为小玫瑰准备一个木头屏风！</string>
			</array>
			<key>status</key>
			<string>4</string>
			<key>icon</key>
			<string>screen</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>wood.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>screen.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose-screen</string>
			<key>prince</key>
			<string>2</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>小玫瑰觉得这个星球实在太冷了，她希望小王子能够用玻璃罩子保护她远离夜晚的寒风。为了让小王子觉得内疚，她还常常故意咳嗽几下。</string>
				<string>请为小玫瑰准备一个玻璃罩子！</string>
			</array>
			<key>status</key>
			<string>5</string>
			<key>icon</key>
			<string>glassglobe</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>flowerfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>glassglobe.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose-glassglobe</string>
			<key>prince</key>
			<string>1</string>
		</dict>
		<dict>
			<key>stories</key>
			<array>
				<string>尽管小王子本来诚心诚意地喜欢这朵花，可是，这一来，却使他马上对她产生了怀疑。小王子对一些无关紧要的话看得太认真，结果使自己很苦恼。</string>
				<string>小王子决定离开他的星球，在他出发的那天早上， 他把他的星球收拾得整整齐齐。我想他大概是利用一群候鸟迁徙的机会跑出来的。</string>
				<string>请利用空中飞行的候鸟离开星球！</string>
			</array>
			<key>status</key>
			<string>6</string>
			<key>icon</key>
			<string>goose-fly</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>nest.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>goose-fly.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>rose</string>
			<key>prince</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
