<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>R</key>
		<integer>186</integer>
		<key>G</key>
		<integer>0</integer>
		<key>B</key>
		<integer>255</integer>
		<key>name</key>
		<string>小行星 B-325</string>
		<key>desc</key>
		<string>统治一切的国王</string>
		<key>planetR</key>
		<integer>800</integer>
		<key>planetName</key>
		<string>B-325</string>
		<key>gamestart</key>
		<string>小王子访问了国王的星球</string>
		<key>gamepass</key>
		<string>小王子迟疑了片刻。然后，他叹了口气，继续他的旅程。</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>king</string>
		<key>product</key>
		<string>cloud</string>
		<key>words</key>
		<array>
			<dict>
				<key>pet</key>
				<string>啊哈，这里有一个臣民！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>他从来没有见过我，怎么会认识我呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>靠近点，让我仔细看看你！</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>在国王面前打哈欠是违反礼节的，我不许你这样做！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是我不是故意的，我没法控制自己。</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我经过一段很长的旅程才到达这里，并且我一直没有好好的睡一觉。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>啊哈，这样的话，我命令你打哈欠！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我已经很多年没有见过人打哈欠了。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>对我打哈欠，满足我的好奇心。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>快点，再打一个哈欠，这是命令！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您吓着我了...我没法再打哈欠了...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>呼呼！那么我...那么我命令你有时候打哈欠，有时候不打。</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我能在这里坐下么？</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我命令你坐下。</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>陛下，我请求您能够允许我问一个问题。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我命令你问问题。</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>陛下，您统治什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我统治所有！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>所有的东西？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我的星球，其它的星球，以及所有的星星！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>所有的星星？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>是的，所有的星星，我的统治不仅仅是绝对的，而且是无限的！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>那么说这些星星都服从您？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>它们当然会服从我，只要我下命令。我不允许任何违抗！</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我想看一次日落...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您能不能行行好...</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>命令太阳落下山头...</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>如果我命令一个将军像蝴蝶一样，从一个花朵飞到另一个花朵</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>或者命令他变成一只海鸟</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>如果这个将军没有执行他收到的命令</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这究竟会是谁的过错？将军还是国王？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这就对了，每个人都需要一个明确的可以执行的命令。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>公认的权威首先取决于理性。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>如果我命令人民投入大海把自己淹死</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>他们非得起来革命不可。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我有权要求服从，这是因为我的命令总是符合理性。</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>那么我的日落呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>你将得到你的日落</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我将发布命令</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当时，根据我的治理科学和原则</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我将在时机成熟时发布命令</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>那么是什么时候呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>呼呼！这将会是，将会是 ...</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这会是在今晚7点40的时候</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>那时你将看到我的命令是如何被执行的</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但在这里我没有什么其它事情可以做了</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我先我应该马上继续我的旅程了</string>
				<key>task</key>
				<string>4</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>别走，别走，我任命你为我的大臣</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>什么大臣？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>大臣，司法大臣</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但这里没有任何人需要审判！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我也不太确认，我还没有完整巡视过我的星球</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我太老了，而且这里连马车都放不下，没有马车我寸步难行。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>不过你可以审判你自己</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这比审判别人更有挑战</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>如果你能够正确地审判自己，那么你将成为一个拥有真正智慧的人。</string>
				<key>task</key>
				<string>5</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>是的，但我可以在任何地方审视我自己。</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我并不需要待在这个星球上。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>呼呼，我有充分的证据证明在我星球的某个地方躲藏着一只老耗子</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我每天晚上都能够听到它的声音，你可以审判它</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>每一次你都可以判它死刑</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这样的话，它的生命将取决于你的判决</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>但每次审判后你都应该赦免它</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我们必须要节俭点，它可是这个星球上唯一的耗子。</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是我不想宣判任何人死刑</string>
				<key>task</key>
				<string>6</string>
			</dict>
			<dict>
				<key>task</key>
				<string>5</string>
				<key>prince</key>
				<string>现在我必须继续我的旅程了</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>不要！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>如果国王陛下您希望自己得到服从</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您可以给我一个合理的命令</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我将服从您，例如，您命令我在一分钟内消失在您视线中</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>现在看起来，这个命令的条件已经成熟</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我，我，我任命你为我的大使！</string>
				<key>task</key>
				<string>7</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>-1</integer>
	</dict>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
				</array>
				<key>name</key>
				<string>blueflower</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>starflower</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>name</key>
				<string>tree_yellow_small</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>tree_yellow_large</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seed</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sunflower</string>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>mushroom_good</string>
				<key>gift</key>
				<integer>4</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>gift</key>
				<string>5</string>
				<key>name</key>
				<string>nest</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>seabird-stand</string>
				<key>gift</key>
				<string>5</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>award</key>
			<string>butterfly-blue</string>
			<key>name</key>
			<string>butterfly-blue</string>
			<key>energy</key>
			<integer>20</integer>
			<key>action</key>
			<string>5</string>
		</dict>
		<dict>
			<key>award</key>
			<string>star-yellow</string>
			<key>name</key>
			<string>star-yellow</string>
			<key>energy</key>
			<integer>40</integer>
			<key>action</key>
			<string>0</string>
		</dict>
		<dict>
			<key>award</key>
			<string>wooden-chair</string>
			<key>awardcount</key>
			<integer>5</integer>
			<key>name</key>
			<string>wood</string>
			<key>energy</key>
			<integer>60</integer>
			<key>action</key>
			<string>2</string>
		</dict>
		<dict>
			<key>award</key>
			<string>sunflowerfly</string>
			<key>name</key>
			<string>sunflowerfly</string>
			<key>energy</key>
			<string>80</string>
			<key>action</key>
			<string>1</string>
		</dict>
		<dict>
			<key>award</key>
			<string>chess</string>
			<key>name</key>
			<string>chess</string>
			<key>energy</key>
			<string>100</string>
			<key>action</key>
			<string>4</string>
		</dict>
		<dict>
			<key>award</key>
			<string>seabird-fly</string>
			<key>name</key>
			<string>seabird-fly</string>
			<key>energy</key>
			<string>120</string>
			<key>action</key>
			<string>5</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>icon</key>
			<string>butterfly-blue</string>
			<key>status</key>
			<integer>3</integer>
			<key>stories</key>
			<array>
				<string>经过一段漫长的旅程，小王子来到了国王的星球，那里有许多蓝色的花朵和蝴蝶。</string>
				<string>捉几只蝴蝶给国王作为见面礼！</string>
			</array>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>blueflower.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>butterfly-blue.png</string>
				</dict>
			</array>
			<key>prince</key>
			<string>2</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>star-yellow</string>
			<key>status</key>
			<integer>4</integer>
			<key>stories</key>
			<array>
				<string>国王很高兴能够有一个臣民来拜访他，他告诉小王子，他统治一切，所有的星星都会服从他</string>
				<string>收集几个黄色的星星给国王！</string>
			</array>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>starflower.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>star-yellow.png</string>
				</dict>
			</array>
			<key>prince</key>
			<string>1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>wooden-chair</string>
			<key>status</key>
			<string>5</string>
			<key>stories</key>
			<array>
				<string>经过长途旅行，小王子很累了，但是他却找不到一个地方可以坐下，国王华丽的长袍把整个星球严严实实的覆盖住了，这里没有一个可以供访问者坐下的椅子。</string>
				<string>为国王制作一把椅子，这样他可以更好的招待自己的臣民！</string>
			</array>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>wood.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>wooden-chair.png</string>
				</dict>
			</array>
			<key>pet</key>
			<string>king-woodenchair</string>
			<key>prince</key>
			<string>2</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>sunflowerfly</string>
			<key>status</key>
			<string>6</string>
			<key>stories</key>
			<array>
				<string>小王子想看日落的景色，他请求好心的国王能够命令太阳马上落下山坡，当时国王需要条件成熟才能下达命令，小王子需要等到晚上7点40。</string>
				<string>采集一些向日葵给国王！</string>
			</array>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>sunflower.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>sunflowerfly.png</string>
				</dict>
			</array>
			<key>prince</key>
			<string>1</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>chess</string>
			<key>status</key>
			<string>7</string>
			<key>stories</key>
			<array>
				<string>国王很高兴自己终于拥有了一个臣民，但小王子马上要离开星球继续自己的旅程了，小王子决定帮助这个可怜的国王。</string>
				<string>为国王准备一些奶酪，这他便可以收服星球上唯一的老耗子作为臣民了！</string>
			</array>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>mushroom_good.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>chess.png</string>
				</dict>
			</array>
			<key>prince</key>
			<string>1</string>
			<key>pet</key>
			<string>king-rat</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>seabird-fly</string>
			<key>status</key>
			<string>8</string>
			<key>stories</key>
			<array>
				<string>现在，小王子可以离开国王继续他的旅程了</string>
				<string>小王子可以跟随飞行的海鸟离开这里！</string>
			</array>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>seabird-stand.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>seabird-fly.png</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
