<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>小行星 B-330</string>
		<key>desc</key>
		<string>地理学家</string>
		<key>planetR</key>
		<real>2000</real>
		<key>planetName</key>
		<string>B-330</string>
		<key>gamestart</key>
		<string>小王子访问了地理学家的星球</string>
		<key>gamepass</key>
		<string>小王子离开了这里，他开始想念小玫瑰</string>
		<key>R</key>
		<string>57</string>
		<key>G</key>
		<string>239</string>
		<key>B</key>
		<string>8</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>geographer</string>
		<key>words</key>
		<array>
			<dict>
				<key>pet</key>
				<string>噢，看哪，来了一个探险家！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>你是从哪里来的？</string>
				<key>task</key>
				<string>0</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这本大部头书讲了什么？</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您在做什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我是一个地理学家</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>地理学家是什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>地理学家是一个知道所有的海洋，河流，山川，城市，沙漠位置的学者</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>真有趣，终于遇到一个有着真正专业知识的大人了</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您的星球很漂亮，它有没有海洋哪？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我不清楚</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>啊，那这里有没有高大的山峰？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我不清楚</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>城市，河流，还有沙漠呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这些我也不清楚</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但您是一个地理学家！</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>完全正确，因为我不是一个探险家！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我的星球里连一个探险家都没有</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>地理学家从来不会亲自去探索城市，河流，山脉，海洋和沙漠</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>地理学家有更重要的事情要做，他们不能到处乱跑</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>他不需要离开自己的办公桌，但他可以从探险家口中得到自己的研究</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>他向探险家提问，并记录他们的旅行</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>如果探险家的描述让地理学家感到有趣，那么他会去调查这个探险家的品德</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>为什么要这样？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>因为一个说假话太多，或者太喜欢喝酒的探险家，对地理学家来说会是一个灾难</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>为什么呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>因为醉汉看到了两座山，地理学家把它记录下来，而实际上，也许只有一座是真实存在的</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我想我认识一个人，他会是一个糟糕的探险家</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这是完全可能的，因此当一个探险家的品德得到确认，他提供的信息将需要再做仔细审查</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>跑过去亲眼看看？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>不是的，这样太费时了，你只需要让探险家提供证据就行了。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>例如，如果探险家说他发现了一座大山，那么他就必须带一个大石头回来证明</string>
				<key>task</key>
				<string>4</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>对了，你是从远方到来的，你就是一个探险家，快，快，告诉我你的星球是什么样子</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>哦，我住的星球很小，它是那么的小，上面只有三座火山，其中两座是活的，一座已经沉寂，但谁也不知道它是不是还会复活。</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>没人知道</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我还有一朵小花</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我们不记录花朵</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>为什么这样？这朵花是我星球上最美丽的东西了！</string>
				<key>task</key>
				<string>5</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我们不记录它们，因为它们是短暂的</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您说的“短暂”是什么意思？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>地理，是所有学问中最关心实际结果的学问</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>它从来不会变得过时，因为一座山很难改变它的位置</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>一片海洋也很少会自己干涸，我们只记录永恒的东西</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是沉寂的火山又可能会舒心，这不是短暂么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>不管火山是死是活，对于地理学家来说，它们都是一样的东西</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>对于我们来说，它们是山峰，这是不会变化的</string>
				<key>task</key>
				<string>6</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是，“短暂”到底是什么意思？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>短暂，意思就是它处于随时都要消失的危险中</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我的花朵是不是处于随时都要消失的危险中？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>确实是这样的</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我的玫瑰是短暂的，她只有四根脆弱的刺来保护自己，抵御这个世界，而我却离开了她，让她孤独</string>
				<key>task</key>
				<string>7</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>关于我的下一个旅行地，您有没有什么好的建议？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>你可以去那颗叫做地球的行星，它的名气很大</string>
				<key>task</key>
				<string>8</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<real>-0.5</real>
		<key>showday</key>
		<integer>2</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>bookcase</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.4</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>stoneman0</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>stoneman1</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>3.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>stoneman2</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>4.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>stoneman3</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>5.1</real>
			<key>z</key>
			<string>-10</string>
			<key>initSpeed</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>seabell0</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>crystal</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>seabell1</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>seastar</string>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>sunflower</string>
				<key>gift</key>
				<string>4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>seaturtle</string>
				<key>gift</key>
				<string>5</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>jellyfish</string>
			<key>energy</key>
			<integer>20</integer>
			<key>award</key>
			<string>inkbottle</string>
			<key>action</key>
			<string>5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bubble</string>
			<key>energy</key>
			<integer>40</integer>
			<key>action</key>
			<string>5</string>
			<key>award</key>
			<string>telescope</string>
		</dict>
		<dict>
			<key>energy</key>
			<string>60</string>
			<key>name</key>
			<string>seahorse</string>
			<key>action</key>
			<string>0</string>
			<key>award</key>
			<string>rule</string>
		</dict>
		<dict>
			<key>energy</key>
			<string>80</string>
			<key>name</key>
			<string>seastar</string>
			<key>action</key>
			<string>0</string>
			<key>award</key>
			<string>seastar</string>
		</dict>
		<dict>
			<key>energy</key>
			<string>80</string>
			<key>name</key>
			<string>sunflowerfly</string>
			<key>action</key>
			<string>1</string>
			<key>award</key>
			<string>sunflowerpot</string>
		</dict>
		<dict>
			<key>energy</key>
			<string>100</string>
			<key>name</key>
			<string>seaturtle</string>
			<key>action</key>
			<string>5</string>
			<key>award</key>
			<string>seaturtle</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>icon</key>
			<string>inkbottle</string>
			<key>status</key>
			<integer>3</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>jellyfish.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>inkbottle.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>第六颗行星比上一颗整整大了十倍，上面住了一位老绅士，他在写着一本大部头的著作</string>
				<string>为老绅士准备一瓶墨水！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>telescope</string>
			<key>status</key>
			<integer>4</integer>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>bubble.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>telescope.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>老绅士告诉小王子，他是一个地理学家，地理学家是一个知道所有的海洋，河流，山川，城市和沙漠位置的学者。他们不探索世界，却了解世界</string>
				<string>为地理学家准备一个望远镜！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>rule</string>
			<key>status</key>
			<string>5</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>seahorse.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>rule.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>遗憾的是，地理学家甚至不知道自己的星球是否有海洋和沙漠，因为他不能离开自己的办公室，他的工作就是研究探险家提供的信息</string>
				<string>为地理学家准备一把三角尺！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>seastar</string>
			<key>status</key>
			<string>6</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>seastar.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>seastar.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>地理学家需要探险者提供证据证明他们的发现，例如当他们发现一座大山，那么地理学家便会要求他们带回一块石头作为证明</string>
				<string>收集一些海星证明这个星球存在大海！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>sunflowerpot</string>
			<key>status</key>
			<string>7</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>sunflowerfly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>sunflowerpot.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>地理学家告诉小王子，他不在自己书上记录花朵，因为它们都是短暂的。小王子很伤心，因为在他的星球上，小玫瑰是最美丽的东西了</string>
				<string>送一束美丽的向日葵给地理学家！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>seaturtle</string>
			<key>status</key>
			<string>8</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>seaturtle0.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>seaturtle.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子问地理学家是否有什么地方可以推荐他旅行，地理学家推荐了地球，因为它的名气很大</string>
				<string>跟随迁徙的海龟前往地球！</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
