<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>小行星 B-329</string>
		<key>desc</key>
		<string>点灯人</string>
		<key>R</key>
		<string>0</string>
		<key>G</key>
		<string>153</string>
		<key>B</key>
		<string>255</string>
		<key>planetR</key>
		<integer>400</integer>
		<key>planetName</key>
		<string>B-329</string>
		<key>gamestart</key>
		<string>第五个行星很奇怪，它是一颗最小的星星，上面容得下一盏路灯和一个点灯人</string>
		<key>gamepass</key>
		<string>小王子不敢承认的是，离开这个星球让他感到遗憾，是因为这里一天能够看到1440次日落</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>lamplighter</string>
		<key>words</key>
		<array>
			<dict>
				<key>prince</key>
				<string>早上好</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您刚刚为什么熄灭了这盏路灯？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这是命令</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>早上好</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这是什么样的命令哪？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我收到命令去熄灭路灯</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>晚上好</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但是您为何又把路灯点亮了？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这也是命令</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我不太明白</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这不需要去明白</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>命令就是命令，早上好！</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我从事着一项很可怕的工作，虽然过去这个工作还是比较合理的</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>早上我熄灭路灯，到了晚上我把它点燃</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>过去的时候，其它的时间我可以休息，晚上也可以好好睡一觉</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>莫非后来命令发生了变化？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>命令从来没有改变</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这正是悲剧的来源</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>一年又一年，这个星球转动得越来越快，但命令却一点也没有变</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>然后呢？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>现在这个星球每分钟就要转动一圈</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我甚至没有一秒钟可以休息</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>每分钟我都需要把路灯点燃然后熄灭</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>真好玩，在您的生活里，一天只有一分钟</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>这一点都不好玩！</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当我们谈话这会儿，一个月已经过去了</string>
				<key>task</key>
				<string>2</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>一个月？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>使得，一个月就是三十分钟，三十天，晚上好！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>我想我可以告诉您一个可以休息的方法</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我很想休息</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您的星球是那么的小，走两三步就可以绕一圈</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您只需要慢慢的散步，就可以一致在阳光下了</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>当您想休息的时候，不妨散散步</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这样的话，一天的长度能够随您的心情决定</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>当时这样对我并不好</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我唯一喜欢的事情就是睡觉</string>
				<key>task</key>
				<string>3</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>好吧，那您真不幸</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我真不幸，早上好！</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这个男人会被所有的其它人嘲笑的，例如国王，自恋的人，还有商人</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但对我来说，这却是唯一一个不那么可笑的大人</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>也许是因为他一只在做的事情是帮助别人而不是自己吧</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>这个人是唯一一个可以成为我朋友的人</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>但他的星球实在太小了，容不下两个人</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<integer>2</integer>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>lamp</string>
			<key>night</key>
			<string>lamp-light</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.14</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>firefly0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>firefly0</string>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>firefly0</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>dandelion</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>firefly0</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>seabird-stand</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>firefly0</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>candlelamp</string>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>firefly</string>
			<key>award</key>
			<string>alarm</string>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bubble</string>
			<key>award</key>
			<string>calandar</string>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>feather</string>
			<key>award</key>
			<string>pillow</string>
			<key>action</key>
			<string>1</string>
			<key>energy</key>
			<string>60</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lightfly</string>
			<key>award</key>
			<string>lightfly</string>
			<key>action</key>
			<string>5</string>
			<key>energy</key>
			<string>80</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>icon</key>
			<string>alarm</string>
			<key>status</key>
			<string>3</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>firefly.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>alarm.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>点灯人过着一种可怕的生活，他每天早上熄灭路灯，晚上又把它点燃，他的星球太小转动太快，一天只有一分钟，这就是点灯人的生活</string>
				<string>送一个小闹钟给点灯人！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>calandar</string>
			<key>status</key>
			<string>4</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>bubble.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>calandar.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>当小王子和点灯人聊了一会，一个月就过去了，一个月是三十分钟，三十天</string>
				<string>送一本日历给点灯人！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>pillow</string>
			<key>status</key>
			<string>5</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>feather.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>pillow.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子看着点灯人，他是那样的忠于他的职责和命令，让人觉得感动又怜爱。小王子想帮助他的这个新朋友。点灯人最大的幸福便是能够好好的睡一觉</string>
				<string>为点灯人准备一个羽毛枕头！</string>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>lightfly</string>
			<key>status</key>
			<string>6</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>candlelamp.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>lightfly.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>点灯人是唯一一个能够成为小王子朋友的人，因为只有他所做的是为了别人，而不仅仅是自己。可惜的是，他的星球实在太小了，容不下两个人</string>
				<string>追随天空漂浮的孔明灯离开这个星球！</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
