<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>name</key>
		<string>地球</string>
		<key>desc</key>
		<string>运送旅客的火车</string>
		<key>planetR</key>
		<real>10000</real>
		<key>planetName</key>
		<string>B-330</string>
		<key>gamestart</key>
		<string>小王子遇到了扳道工</string>
		<key>gamepass</key>
		<string>小王子返回沙漠寻找蛇和回去的路</string>
		<key>R</key>
		<string>246</string>
		<key>G</key>
		<string>188</string>
		<key>B</key>
		<string>49</string>
	</dict>
	<key>pet</key>
	<dict>
		<key>name</key>
		<string>train-worker</string>
		<key>words</key>
		<array>
			<dict>
				<key>prince</key>
				<string>早上好</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>早上好</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>您在做什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我把旅客分类打包，一趟车有好几千个旅客</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>我用火车把他们运走，这些往南，这些往北</string>
				<key>task</key>
				<string>0</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>他们真匆忙，他们在追寻什么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>甚至连机车工程师都不知道他们在追寻什么</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>他们这是回来了么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>不是的，这已经不是那一批人了，这是另一趟列车</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>难道他们对自己待的地方不满意么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>没人对自己待的地方满意</string>
				<key>task</key>
				<string>1</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>他们是在追随第一批旅行者的脚步么？</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>他们什么也不追寻</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>他们要么睡着了，要么醒着却在打着哈欠</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>只有孩子们把鼻子贴在窗口看着窗外的景色</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>只有小孩才知道自己在追寻什么</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>他们会在一个布娃娃身上花费很多时间，因为这对他们很重要</string>
			</dict>
			<dict>
				<key>prince</key>
				<string>如果谁把它给拿走了，他们会哭泣</string>
			</dict>
			<dict>
				<key>pet</key>
				<string>他们是幸运的</string>
				<key>task</key>
				<string>2</string>
			</dict>
		</array>
		<key>initSpeed</key>
		<integer>0</integer>
		<key>initHeight</key>
		<integer>0</integer>
		<key>initRot</key>
		<real>-0.15</real>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>japan-hourse3</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.11</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-22</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>japan-tower1</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.15</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>japan-hourse1</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.2</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-18</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>japan-hourse2</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.3</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-16</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>japan-tower2</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.4</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-14</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>japan-gate</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>2.4</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-12</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>train-light</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building0</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-28</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building1</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.2</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-26</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building2</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.3</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-24</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building3</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.4</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-22</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building4</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.5</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building5</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.6</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-18</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building6</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.7</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-16</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building7</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.8</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-14</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building8</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.85</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-12</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>building9</string>
			<key>product</key>
			<string>cloud</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.9</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>product</key>
			<string>cloud</string>
			<key>name</key>
			<string>trainhead</string>
			<key>words</key>
			<array>
				<dict>
					<key>prince</key>
					<string>Good morning,</string>
					<key>task</key>
					<string>3</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Good morning</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>Why are you selling those?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Because they save a tremendous amount of time</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Computations have been made by experts. With these pills, you save fifty-three minutes in every week.</string>
				</dict>
				<dict>
					<key>prince</key>
					<string>And what do I do with those fifty-three minutes?</string>
				</dict>
				<dict>
					<key>item</key>
					<string>Anything you like…</string>
				</dict>
				<dict>
					<key>item</key>
					<string>As for me, if I had fifty-three minutes to spend as I liked, I should walk at my leisure toward a spring of fresh water.</string>
					<key>task</key>
					<string>4</string>
				</dict>
			</array>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.12</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.3</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-3</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.5</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.7</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>0.9</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-6</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.1</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.3</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-8</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.5</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-9</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>trainbody</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>1.7</real>
			<key>initSpeed</key>
			<integer>30</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>train-fence</string>
			<key>initHeight</key>
			<integer>0</integer>
			<key>initRot</key>
			<real>-0.1</real>
			<key>initSpeed</key>
			<integer>0</integer>
			<key>z</key>
			<integer>-1</integer>
		</dict>
	</array>
	<key>enemies</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>japan-stonelamp0</string>
				<key>gift</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>bread-small</string>
				<key>gift</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>ice</string>
				<key>gift</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>waterdrop</string>
			</dict>
			<dict>
				<key>destroy</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
				</array>
				<key>name</key>
				<string>airship-small</string>
				<key>gift</key>
				<string>3</string>
			</dict>
		</array>
	</array>
	<key>gifts</key>
	<array>
		<dict>
			<key>name</key>
			<string>japan-light</string>
			<key>energy</key>
			<integer>20</integer>
			<key>award</key>
			<string>japan-light</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bread</string>
			<key>action</key>
			<string>3</string>
			<key>energy</key>
			<integer>40</integer>
			<key>award</key>
			<string>bread</string>
		</dict>
		<dict>
			<key>energy</key>
			<string>60</string>
			<key>name</key>
			<string>ice</string>
			<key>award</key>
			<string>watercup</string>
			<key>action</key>
			<string>3</string>
		</dict>
		<dict>
			<key>energy</key>
			<string>80</string>
			<key>name</key>
			<string>airship</string>
			<key>award</key>
			<string>airship</string>
		</dict>
	</array>
	<key>tasks</key>
	<array>
		<dict>
			<key>status</key>
			<integer>3</integer>
			<key>icon</key>
			<string>japan-light</string>
			<key>prince</key>
			<string>1</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>japan-stonelamp0.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>japan-light.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>小王子遇到了扳道工，他把旅客装上火车，一车几千人，发往南边，发往北边</string>
				<string>收集几个灯笼给扳道工！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<integer>4</integer>
			<key>icon</key>
			<string>bread</string>
			<key>prince</key>
			<string>1</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>bread.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>bread.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>人们在城市里工作，却住在遥远的乡村，他们像鸟儿一样每天迁徙，只是为了获取面包。</string>
				<string>准备一些面包给扳道工！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>5</string>
			<key>icon</key>
			<string>watercup</string>
			<key>prince</key>
			<string>1</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>ice.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>watercup.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>为了节约时间，人们甚至发明了用于止渴的药丸，吃了这些药丸，人们可以挤出一点点时间用于工作</string>
				<string>为扳道工倒一杯水！</string>
			</array>
		</dict>
		<dict>
			<key>status</key>
			<string>6</string>
			<key>icon</key>
			<string>airship</string>
			<key>prince</key>
			<string>2</string>
			<key>tips</key>
			<array>
				<dict>
					<key>left</key>
					<string>airship.png</string>
					<key>right</key>
					<string>5.png</string>
					<key>result</key>
					<string>airship.png</string>
				</dict>
			</array>
			<key>stories</key>
			<array>
				<string>很快的，小王子开始想念起自己的星球，他决定要回到沙漠，需找蛇的帮助</string>
				<string>跟随空中的飞艇将能够回到沙漠！</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
